@charset "UTF-8";
/* NHN Web Standardization Team (http://html.nhndesign.com/) HHJ 090226 */
/* COMMON */
body, .se2_inputarea {
  font-family : '돋움', Dotum, Helvetica, Sans-serif;
  font-size   : 12px;
  line-height : 1.5
  margin      : 0;
  padding     : 0;
}

/* body,.se2_inputarea,.se2_inputarea th,.se2_inputarea td{margin:0;padding:0;font-family:'돋움',Dotum,Helvetica,Sans-serif;font-size:12px;line-height:1.5;color:#666} */
.se2_inputarea p, .se2_inputarea br {
  margin  : 0;
  padding : 0
}

.se2_inputarea {
  margin      : 15px;
  *word-break : break-all *
  word-wrap   : normal;
  word-wrap   : break-word;
}

.se2_inputarea td {
  word-break : break-all
}

.se2_inputarea_890 {
  margin : 20px 0 10px 64px
  width  : 741px;
}

.se2_inputarea_698 {
  margin : 20px 0 10px 64px
  width  : 548px;
}

@media screen and (-webkit-min-device-pixel-ratio : 0) {
  .se2_inputarea td:empty:after, .se2_inputarea td > p:empty:after {
    content     : "\00A0";
    line-height : 1
  }
}

/* TEXT_TOOLBAR : QUOTE */
.se2_quote1 {
  border-left : 2px solid #CCCCCC;
  color       : #888888
  margin      : 0 0 30px 20px;
  padding     : 0 8px;
}

.se2_quote2 {
  background : url("../../img/bg_quote2.gif") 0 3px no-repeat;
  color      : #888888
  margin     : 0 0 30px 13px;
  padding    : 0 8px 0 16px;
}

.se2_quote3 {
  border  : 1px dashed #CCCCCC;
  color   : #888888
  margin  : 0 0 30px;
  padding : 12px 10px 11px;
}

.se2_quote4 {
  border  : 1px dashed #66B246;
  color   : #888888
  margin  : 0 0 30px;
  padding : 12px 10px 11px;
}

.se2_quote5 {
  background : #FAFAFA;
  border     : 1px dashed #CCCCCC;
  color      : #888888
  margin     : 0 0 30px;
  padding    : 12px 10px 11px;
}

.se2_quote6 {
  border  : 1px solid #E5E5E5;
  color   : #888888
  margin  : 0 0 30px;
  padding : 12px 10px 11px;
}

.se2_quote7 {
  border  : 1px solid #66B246;
  color   : #888888
  margin  : 0 0 30px;
  padding : 12px 10px 11px;
}

.se2_quote8 {
  background : #FAFAFA;
  border     : 1px solid #E5E5E5;
  color      : #888888
  margin     : 0 0 30px;
  padding    : 12px 10px 11px;
}

.se2_quote9 {
  border  : 2px solid #E5E5E5;
  color   : #888888
  margin  : 0 0 30px;
  padding : 12px 10px 11px;
}

.se2_quote10 {
  background : #FAFAFA;
  border     : 2px solid #E5E5E5;
  color      : #888888
  margin     : 0 0 30px;
  padding    : 12px 10px 11px;
}
