<th:block th:include="admin/admin_sidebar" />
<th:block>
  <style>
    table {
      margin : 0;
      width  : 100%;
    }

    .post-row > *:nth-child(1) {
      width : 70px;
    }

    .post-row > *:nth-child(2) {
      width : 250px;
    }

    .post-row > *:nth-child(3) {
      width : 100px;
    }

    .post-row > *:nth-child(4) {
      width : 95px;
    }

    .post-row > *:nth-child(5) {
      width : 200px;
    }

    .post-row > *:nth-child(6) {
      width : 100px;
    }

    .post-row > *:nth-child(7) {
      width : 150px;
    }
  </style>
  <div class="admin_main_contents">
    <div class="admin_main_contents_category">
      <div class="admin_main_contents_item">
        <p class="main_item">포인트 정산 요청 목록</p>
      </div>
    </div>

    <div class="main_contents_wrap">
      <div class="post-search">
        <div class="util-search">총 <strong></strong>개의 요청이 있습니다.</div>

        <!--관리자 페이지 설문 찾기 기능-->
        <div class="form-search">
          <div class="tbl-search">
            <div class="box-search">
              <input type="text" id="searchinput" th:value="${keyword}" onchange="asyncFindBoard()" />
              <input type="submit" />
            </div>
          </div>
        </div>
      </div>
      <div style="float: right">
        <button class="btn_udel btn-big btn-green">엑셀로 저장</button>
      </div>

      <table class="scroll-table">
      </table>
      <div class="pagination"></div>
    </div>
  </div>
  <script>
    const makePointRequestListPagination = current => {
      const paginationForm = $('.pagination');
      const totalPages = Math.ceil(pointRequestCount / 10);

      let start = current > 0 ? current - 1 : 0
      let end = current < totalPages - 1 ? current + 1 : totalPages;
      let first = $(`<div><i class="fas fa-angle-double-left"></i></div>`).on('click', {offset: 0, size: 10}, getPointRequest)
      let prev = $(`<div><i class="fas fa-angle-left"></i></div>`).on('click', {offset: current > 0 ? current - 1 : 0, size: 10}, getPointRequest)
      let next = $(`<div><i class="fas fa-angle-right"></i></div>`).on('click', {offset: current < totalPages - 1 ? current + 1 : totalPages - 1, size: 10}, getPointRequest)
      let last = $(`<div><i class="fas fa-angle-double-right"></i></div>`).on('click', {offset: totalPages - 1, size: 10}, getPointRequest)

      for (let i = start; i < end; i++) {
        const tmp = $(`<div class="board_row">${i + 1}</div>`).on('click', {offset: i, size: 10}, getPointRequest)
        if (i === current) {

        }
        paginationForm.append(tmp)
      }
      paginationForm.prepend(first).prepend(prev)
      paginationForm.append(next).append(last)

    }
    const makePointRequestTemplate = req => {
      console.log(req)
      let template = $(`<tr class="post-row"></tr>`);
      template.append(`<td>${req.id}</td>`);
      template.append(`<td>${req.email}</td>`);
      template.append(`<td>${req.name}</td>`);
      template.append(`<td>${req.point}</td>`);
      template.append(`<td>${req.bank}은행</td>`);
      template.append(`<td>${req.account}</td>`);
      template.append(`<td>${req.progress}</td>`);
      const modify_btn = $(`<button class="btn_del btn-support">수정</button>`).on('click', {id: req.id, progress: req.progress}, progressUpdate);
      const delete_btn = $(`<button class="btn_del btn-warn">삭제</button>`).on('click', {id: req.id}, deleteRequest);
      const tmp_cell = $(`<td></td>`).append(modify_btn).append(`<span>  </span>`).append(delete_btn);
      template.append(tmp_cell);
      return template;
    }

    const deleteRequest = e => {
      if (confirm('정말로 요청을 삭제하시겠습니까?')) {
        http.delete(`/points/${e.data.id}`)
            .then(res => {
              if (res.data.success) {
                getAllPointRequest();
                alert('요청 삭제 완료');
              }
            });
      }
    };

    const progressUpdate = e => {
      console.log(e.data.id);
      console.log(typeof e.data.id);
      http.put(`/api/points/${e.data.id}`, {progress: e.data.progress})
          .then(res => {
            if (res.data.success) {
              getAllPointRequest();
            }
          }).catch(console.log);
    };

    const makeheader = () => {
      let template = $(`<tr>`).addClass('post-row').addClass('post-th');
      template.append(`<th>#</th>`);
      template.append(`<th>요청 아이디</th>`);
      template.append(`<th>요청인</th>`);
      template.append(`<th>요청 포인트</th>`);
      template.append(`<th>은행</th>`);
      template.append(`<th>계좌번호</th>`);
      template.append(`<th>진행 상황</th>`);
      template.append(`<th>관리</th>`);
      return template;
    };

    const makePointRequestList = requests => {
      const table = $('.scroll-table')
      table.append(makeheader())
      if (requests.length === 0)
        table.append($(`<div class="empty-data"><h1>요청 목록이 없습니다</h1></div>`));
      else {
        for (requst of requests) {
          table.append(makePointRequestTemplate(requst));
        }
        makePointRequestListPagination(0);
      }
    }

    const countPointRequest = e => {
      const url = `/api/points/${!e ? '' : e.data.regex + '/'}total`
      http.get(url)
          .then(res => {
            pointRequestCount = res.data.response
            $('.count_wrap strong').text(pointRequestCount)
          })
          .catch(err => console.log(err))
    }

    const getPointRequest = e => {
      const url = `/api/points${!e ? '' : '/' + e.data.regex}`
      http.get(url)
          .then(res => {
            if (res.data.success) {
              makePointRequestList(res.data.response)
            }
          }).catch(err => console.log(err))
    }

    let pointRequestCount = 0;

    $(function () {
      countPointRequest()
      getPointRequest()

      $('input[name=admin_find]').on('keyup', {regex: $('input[name=admin_find]').val()}, getPointRequest)

    })
  </script>
</th:block>