<th:block th:include="admin/admin_sidebar" />
<th:block>
  <th:block>
    <link th:href="@{/css/table.css}" rel="stylesheet">
    <style>
      table, tr, th, td {
        width: 100%;
        margin: 0;
      }

      .post-row > *:nth-child(1) {width: 70px;}
      .post-row > *:nth-child(2) {width: 500px;}
      tbody > .post-row > td:nth-child(2) {text-align: left;}
      .post-row > *:nth-child(3) {width: 90px;}
      .post-row > *:nth-child(4) {width: 150px;}
      .post-row > *:nth-child(5) {width: 95px;}
      .post-row > *:nth-child(6) {width: 95px;}
      .post-row > *:nth-child(7) {width: 120px;}
      .post-row > *:nth-child(8) {width: 120px;}

      table {
        align: center;
      }

      .info_popup_container {
        display: none;
        width: 100%;
        height: 100%;
        background-color: red;
        position: absolute;
      }

      .info_popup {
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
      }
    </style>
  </th:block>
  <div class="admin_main_contents">
    <div class="admin_main_contents_category">
      <div class="admin_main_contents_item">
        <p class="main_item">설문 목록</p>
      </div>
    </div>

    <div class="main_contents_wrap">
      <div class="post-search">
        <div class="util-search">총 <strong></strong>개의 설문이 있습니다.</div>

        <!--관리자 페이지 설문 찾기 기능-->
        <div class='form-search'>
          <div class='tbl-search'>
            <div class='box-search'>
              <input type='text' id='searchinput' th:value='${keyword}' onchange='asyncFindBoard()' />
              <input type='submit' />
            </div>
          </div>
        </div>
      </div>

      <table class="scroll-table">
        <thead></thead>
        <tbody></tbody>
      </table>
      <div class="pagination"></div>
      <!--서베이 정보 팝업-->
      <div class="info_popup_container">
        <div class="info_popup">
          <h1>정보 팝업</h1>
        </div>
      </div>

    </div>
  </div>
  <script>


    const makePaginationsInAdminSurvey = current => {
      const regexValue = $('input[name=adminfindsurvey]').val();
      const surveyCount = parseInt($('.util-search>strong').text());
      const totalPage = Math.ceil(surveyCount / 10);

      let first = $(`<div class="pagination_button" ><i class="fas fa-angle-double-left"></i></div>`);
      let last = $(`<div class="pagination_button" ><i class="fas fa-angle-double-right"></i></div>`);
      let prev = $(`<div class="pagination_button" ><i class="fas fa-angle-left"></i></div>`);
      let next = $(`<div class="pagination_button" ><i class="fas fa-angle-right"></i></div>`);

      const paginationElement = $('div.pagination');
      paginationElement.empty();

      let start = current - 5 <= 0 ? 0 : current - 5;
      let end = totalPage < 10 ? totalPage : current + 5 > totalPage ? totalPage : current + 5 <= 10 ? current + 5 : 10;

      if (surveyCount === 0) {
        console.log('length 0');
        $('.scroll-table').empty().after(`<div class="empty-data"><h1>결과가 없습니다</h1></div>`);
        $('.pagination').empty();
      } else {
        if (!regexValue) {
          first.on('click', {page: 0}, adminGetAllSurveys);
          last.on('click', {page: totalPage}, adminGetAllSurveys);
          prev.on('click', {page: current - 1 >= 0 ? current - 1 : 0}, adminGetAllSurveys);
          next.on('click', {page: current + 1 >= totalPage ? totalPage - 1 : current + 1}, adminGetAllSurveys);

          paginationElement.append(first).append(prev);
          for (let i = start; i < end; i++) {
            let tmp = $(`<div class="pagination_button">${i + 1}</div>`);
            tmp.on('click', {page: i}, adminGetAllSurveys);
            if (current === i) {
              tmp.css('color', 'white').css('background-color', '#444');
            }
            paginationElement.append(tmp);
          }
          paginationElement.append(next).append(last);
        } else {
          first.on('click', {regex: regexValue, page: 0}, adminGetAllSurveys);
          last.on('click', {regex: regexValue, page: totalPage}, adminGetAllSurveys);
          prev.on('click', {regex: regexValue, page: current - 1 <= 0 ? 0 : current - 1}, adminGetAllSurveys);
          next.on('click', {
            regex: regexValue,
            page: current >= totalPage ? totalPage - 1 : current + 1
          }, adminGetAllSurveys);
          paginationElement.append(first).append(prev);
          for (let i = start; i < end; i++) {
            let tmp = $(`<div class="pagination_button">${i + 1}</div>`);
            tmp.on('click', {page: i, regex: regexValue}, adminGetAllSurveys);
            if (current === i) {
              tmp.addClass('pagination_button_current');
            } else {
              tmp.removeClass('pagination_button_current');
            }
            paginationElement.append(tmp);
          }
          paginationElement.append(next).append(last);
        }
      }
    };

    const surveyListHeader = () => {
      let template = $(`<tr class="post-th"></tr>`);
      template.append(`<th>번호</th>`);
      template.append(`<th>설문 이름</th>`);
      template.append(`<th>포인트</th>`);
      template.append(`<th>설문 기간</th>`);
      template.append(`<th>진행 상태</th>`);
      template.append(`<th>참여자 수</th>`);
      template.append(`<th>설문 아이디</th>`);
      template.append(`<th>관리</th>`);
      return template;
    };

    const adminMakeSurveySearchResults = surveys => {
      const table = $('.scroll-table>tbody');
      table.empty();
      surveys.map(survey => {
        let template = $(`<tr class="post-row">`);
        template.append(`<td>${survey.id}</td>`);// 번호
        template.append(`<td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">${survey.title}</td>`);// 설문 이름
        template.append(`<td>${!survey.point ? 0 : survey.point}</td>`);// 지급 포인트
        template.append(`<td>${String(survey.createdAt).split('T')[0]} ~ ${String(survey.endAt).split('T')[0] !== 'null' ? String(survey.endAt).split('T')[0] : 'N/A'}</td>`); // 설문 기간
        template.append(`<td>${survey.status.progress}</td>`);// 진행 상태
        template.append(`<td>${survey.status.count}</td>`);// 참여자 수
        template.append(`<td>${survey.surveyId}</td>`);// 서베이 아이디
        template.append(`<td><button class="btn_udel btn-support">수정</button><span>  </span><button class="btn_udel btn-warn">삭제</button></td>`);
        return template
      }).map(elem => table.append(elem))
    };

    const adminGetAllSurveys = e => {
      const regex = !e ? '' : !e.data.regex ? '' : '/' + e.data.regex;
      const offset = !e ? 0 : !e.data.page ? 0 : e.data.page;
      http.get('/api/surveys' + regex, {
            params: {size: 10, page: offset}
          })
          .then(res => {
            if (res.data.success) {
              getTotalCount(regex);
              makePaginationsInAdminSurvey(offset);
              adminMakeSurveySearchResults(res.data.response);
            } else {
              console.log('data fetching error');
            }
          })
          .catch(console.log);
    };

    const getTotalCount = regex => {
      if (!regex) {
        http.get('/api/survey/total')
            .then(res => $('.util-search>strong').text(res.data.response))
            .catch(console.log);
      } else {
        http.get('/api/survey/find/' + regex + '/total')
            .then(res => $('.util-search>strong').text(res.data.response))
            .catch(console.log);
      }
    };

    $(function () {
      $('.scroll-table>thead').append(surveyListHeader());
      getTotalCount();
      adminGetAllSurveys();

      /* 요소 클릭 이벤트 */
      $(document).on('click', 'tbody > .post-row', function () {
        const id = $(this).children('td:first-child').text();
        location.href = `/admin/surveyinfo/${id}`
      });

      $('input[name=admin_find]').on('keyup', _.throttle(adminGetAllSurveys, 300));
    });
  </script>
</th:block>