<th:block th:include="admin/admin_sidebar" />
<th:block th:include="module/common" />
<th:block>
  <th:block>
    <style>.board-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #cfcfd1;
    }

    .board-row > * {
      padding: 9px 10px;
      display: inline-block;
      font-size: 1rem;
      line-height: 30px;
      color: #666;
      text-align: center;
    }

    .board-row > *:nth-child(1) {
      width: 70px;
    }

    .board-row > *:nth-child(2) {
      width: 500px;
    }

    .board-row > *:nth-child(3) {
      width: 100px;
    }

    .board-row > *:nth-child(4) {
      width: 130px;
    }

    .board-row > *:nth-child(5) {
      width: 80px;
    }

    .board-row > *:nth-child(6) {
      width: 95px;
    }

    .board-row > *:nth-child(7) {
      width: 120px;
    }

    .btn_udel {
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
    }

    .board-row > span > button:first-child {
      margin-right: 3px;
    }

    .btn_udel {
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
    }

    .pagination {
      text-align: center;
      margin: 20px 0;
    }

    .pagination > div {
      text-align: center;
      display: inline-block;
      font-size: 0.9rem;
      width: 30px;
      line-height: 34px;
      border: 1px solid #e2e2e2;
      cursor: pointer;
    }
    </style>
  </th:block>
  <div class="admin_main_contents">
    <div class="admin_main_contents_category">
      <div class="admin_main_contents_item">
        <p class="main_item">설문 목록</p>
      </div>
    </div>

    <div class="main_contents_wrap">
      <div class="board-search">
        <div class="util-search">총 <strong></strong>개의 설문이 있습니다.</div>
      </div>

      <!--관리자 페이지 설문 찾기 기능-->
      <div class="form-search">
        <div class="tbl-search">
          <div class="box-search">
            <input name="adminfindsurvey" type="text" />
            <button name="adminfindsurvey_btn" type="submit">찾기</button>
          </div>
        </div>
      </div>

      <div class="scroll-table"></div>
      <div class="pagination"></div>

    </div>
  </div>
  <script>

    const addPaginationCssInAdminSurvey = elem => {
      elem.on('mouseover', function () {
        $(this).css('cursor', 'pointer').css('text-decoration', 'underline')
      }).on('mouseleave', function () {
        $(this).css('cursor', 'default').css('text-decoration', 'none')
      })
      elem.css('width', '7px').css('height', '7px').css('display', 'inline').css('margin', '5px')
      return elem
    }
    const makePaginationsInAdminSurvey = current => {
      const regexValue = $('input[name=adminfindsurvey]').val()
      const surveyCount = $('.util-search>strong').text()
      const totalPage = Math.floor(surveyCount / 10)

      let gofirstArrow = addPaginationCssInAdminSurvey($(`<div class="pagenation_button" ><i class="fas fa-angle-double-left"></i></div>`))
      let goLastArrow = addPaginationCssInAdminSurvey($(`<div class="pagenation_button" ><i class="fas fa-angle-double-right"></i></div>`))
      let prev = addPaginationCssInAdminSurvey($(`<div class="pagenation_button" ><i class="fas fa-angle-left"></i></div>`))
      let next = addPaginationCssInAdminSurvey($(`<div class="pagenation_button" ><i class="fas fa-angle-right"></i></div>`))

      const paginationElement = $('div.pagination')
      paginationElement.empty()

      let start = current - 5 <= 0 ? 0 : current - 5;
      let end = current + 5 > totalPage ? totalPage : current + 5 < 10 ? 10 : current + 5;
      // TODO 페이지네이션 이벤트 설정
      if (surveyCount > 0) {
        if (!regexValue) {
          paginationElement.append(gofirstArrow).append(prev)

          for (let i = start; i < end; i++) {
            let tmp = addPaginationCssInAdminSurvey($(`<div class="pagenation_button">${i + 1}</div>`))
            tmp.on('click', {param_offset: i}, adminGetAllSurveys)
            if (current === i) {
              tmp.css('color', 'rgba(32, 205, 195, 1)').css('background-color', 'rgba(240, 240, 240, 1)').css('font-weight', 'bold')
            }
            paginationElement.append(tmp);
          }

          paginationElement.append(next).append(goLastArrow)
        } else {
          paginationElement.append(gofirstArrow).append(prev)
          for (let i = start; i < end; i++) {
            let tmp = addPaginationCssInAdminSurvey($(`<div class="pagenation_button">${i + 1}</div>`))
            tmp.on('click', {param_offset: i, regex: regexValue}, adminGetAllSurveys)
            if (current === i) {
              tmp.css('color', 'rgba(32, 205, 195, 1)').css('background-color', 'rgba(240, 240, 240, 1)').css('font-weight', 'bold')
            }
            paginationElement.append(tmp);
          }
          paginationElement.append(next).append(goLastArrow)
        }
      } else {
        $('.scroll-table').empty().append($(`<div><h2>검색 결과가 없습니다.</h2></div>`))
      }
    }

    const surveyListHeader = () => {
      let template = `<div class="board-row board-th">`
      template += `<span>번호</span>`
      template += `<span>설문 이름</span>`
      template += `<span>지급 포인트</span>`
      template += `<span>설문 기간</span>`
      template += `<span>진행 상태</span>`
      template += `<span>참여자 수</span>`
      template += `<span>설문 아이디</span>`
      template += `<span>공지사항 관리</span>`
      template += `</div>`
      return template
    }

    const adminMakeSurveySearchResults = surveys => {
      const table = $('div.scroll-table');
      table.remove('div.board-row')
      table.append(surveyListHeader())
      for (survey of surveys) {
        let template = `<div class="board-row">`
        template += `<span>${survey.id}</span>`// 번호
        template += `<span>${survey.title}</span>`// 설문 이름
        template += `<span>${survey.point}</span>`// 지급 포인트
        template += `<span>${survey.phone}</span>` // 설문 기간
        template += `<span>${survey.role}</span>`// 진행 상태
        template += `<span>${survey.status.count}</span>`// 참여자 수
        template += `<span>${survey.surveyId}</span>`// 서베이 아이디
        template += `<span><button class="btn_udel btn-warn">삭제</button></span>`
        template += `</div>`
        table.append(template);
      }
    }

    const adminGetAllSurveys = e => {
      const regex = !e.data.regex ? '' : '/' + e.data.regex
      const offset = !e.data.param_offset ? 0 : e.data.param_offset
      axios.get('/api/surveys' + regex, {
            params: {size: 10, offset: offset}
          })
          .then(res => {
            getTotalCount()
            makePaginationsInAdminSurvey(offset)
            adminMakeSurveySearchResults(res.data.response)
          })
          .catch(err => {
            console.log(err)
          })
    }

    // const findSurveyByRegex = (e) => {
    //   axios.get('', {
    //     params: {
    //       size: 10,
    //       offset: 0
    //     }
    //   }).then(res => {
    //     getTotalCount()
    //     adminMakeSurveySearchResults(res.data.response)
    //     makePaginationsInAdminSurvey(0)
    //   })
    // }

    const getTotalCount = regex => {
      if (!regex) {
        axios.get('/api/survey/total')
            .then(res => $('.util-search>strong').text(res.data.response))
      } else {
        axios.get('/api/survey/find/' + regex + '/total')
            .then(res => $('.util-search>strong').text(res.data.response))
      }
    }

    $(function () {
      getTotalCount()
      adminGetAllSurveys()

      $(document).on('click', 'div.board-row:not(:first-of-type)', () => {
        // 클릭시 디테일 페이지?
        alert('aaa')
      }).on('mouseover', 'div.board-row:not(:first-of-type)', function (e) {
        $(this).css('background-color', 'lightgray')
            .css('cursor', 'pointer')
            .css('transition', 'background-color .5s')
      }).on('mouseleave', 'div.board-row:not(:first-of-type)', function () {
        $(this).css('background-color', 'rgba(0,0,0,0)')
            .css('cursor', 'default')
            .css('transition', 'background-color .5s')
      })

      $('input[name=adminfindsurvey]').on('keyup', _.throttle(findSurveyByRegex, 300)).attr('placeholder', '설문 찾기')
    })
  </script>
</th:block>