<th:block th:include="admin/admin_sidebar" />
<th:block th:include="module/common" />
<th:block>
  <style>
    .admin_main_contents {
      background-color: #fafafa;
      height: 100%;
    }

    .admin_main_contents {
      padding: 20px 40px 40px;
      width: 100%;
    }

    /* 여기까지 전체적인 레이아웃 */

    /* 카드 제목 */

    .last_wrap {
      margin-bottom: 10px;
    }

    .board_div2 {
      border-radius: 2px;
      font-size: 13px;

      height: 100%;
      padding: 10px 10px;
      width: 100%;
    }

    /* 제목 */
    .tile_info_wrap {
      align-content: center;
      display: flex;
      justify-content: space-between;
    }

    .post_no {
      color: #515151;
      font-size: 13px;
      font-weight: bold;
    }

    .title_text > span {
      color: #515151;
      font-size: 20px;
    }

    .regdate {
      color: #515151;
      font-size: 14px;
    }

    .updatedate {
      color: #515151;
      font-size: 14px;
      text-decoration: underline;
    }

    /* 작성자 */
    #writer_div {
      height: 48px;
      line-height: 26px;
    }

    .post_count_wrap > div {
      border: 1px solid #dddddd;
      border-radius: 5px;
      box-sizing: border-box;
      color: #515151;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 13px;
      height: 48px;
      margin-left: 5px;
      min-width: 48px;
      overflow: hidden;
      position: relative;
      text-align: center;
    }

    .viewcnt:hover {
      border: 2px solid #3885ca;
    }

    .replycnt:hover {
      border: 2px solid #ff6347;
    }

    .goodcnt:hover {
      border: 2px solid tomato;
    }

    .downcnt:hover {
      border: 2px solid mediumseagreen;
    }

    .post_count_wrap strong {
      display: block;
      font-size: 1rem;
      font-weight: 400;
      line-height: 26px;
    }

    /* 첨부파일 */
    .form-group .board_div2 {
      align-items: center;
      border: 1.5px dashed #dadada;
      color: #515151;
      display: flex;
      height: 130px;
      justify-content: center;
      text-align: center;
    }

    /* 등록/취소 버튼 */

    .board_btn {
      background: white;
      border-radius: 2px;
      color: white;
      font-size: 14px;
      padding: 12px 22px;
      text-decoration: none;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .board_btn:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 14px 26px -12px hsla(0, 0%, 60%, 0.42),
        0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px hsla(0, 0%, 60%, 0.2);
    }

    /* 버튼 색상들 */
    .list_btn {
      background-color: #3885ca;
    }

    .update_btn {
      background-color: #eba444;
    }

    .delete_btn {
      background-color: tomato;
      cursor: pointer;
    }

    .btn_wrap1 {
      margin-left: -10px;
    }

    .btn_wrap2 {
      margin-right: -10px;
    }

    .list_btn > i,
    .delete_btn > i,
    .update_btn > i {
      font-size: 17px;
      font-weight: normal;
      padding-right: 5px;
    }

    .uploadedList > li {
      border-radius: 2px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      margin-right: 5px;
    }

    /* 첨부파일 */

    .form-group .board_div2 {
      align-items: center;
      border: 1.5px dashed #dadada;
      color: #515151;
      display: flex;
      font-size: 15px;
      height: 150px;
      justify-content: center;
      text-align: center;
    }

    .title_div {
      background-color: #f9f9f9;
      border-top: 2px solid #7c7c7c;
    }

    .board_div2 > label {
      border-right: 1px solid #efefef;
      font-weight: bold;
      margin-right: 7px;
      padding-right: 7px;
    }

    .label_padding {
      padding-left: 20px;
    }

    .file_download {
      color: #007791;
    }

    .file_download:hover {
      text-decoration: underline;
    }

    .input_wrap {
      border-bottom: 1px solid #dadada;
    }

    .input_wrap > img {
      max-width: 800px;
    }
  </style>
</th:block>
<th:block>
  <div class="admin_main_contents">
    <div class="admin_main_contents_category">
      <div class="admin_main_contents_item">
        <p class="main_item">공지사항</p>
<!--        <span data-th-text="${post.isWriter}"></span>-->
      </div>
    </div>

    <th:block th:include="fragments/postViewBody" />
  </div>
  <script>
    $(function () {
      let file_item2 = $(".file_item2");
      for (let i = 1; i <= file_item2.length; i++) {
        file_item2[i - 1].innerText = "첨부파일#" + i;
      }

      $(".list_btn").on("click", goList);
    });

    const getCookie = function (name) {
      let value = document.cookie.match("(^|;) ?" + name + "=([^;]*)(;|$)");
      return value ? value[2] : null;
    };

    function goList() {
      const listBtnUrl = getCookie("listBtnUrl");
      if (listBtnUrl != null) {
        location.href = listBtnUrl;
      } else {
        location.href = "/admin/posts";
      }
    }

    const onDeletePost = () => {
      let postId = "[[${post.id}]]";
      let curUserName = $("#current_username").text();
      let curUserRole = $("#current_userrole").text();
      let postWriter = "[[${post.userId}]]";

      if (curUserRole.includes("ADMIN") || postWriter === curUserName) {
        let overlay = $(".popup_overlay");
        overlay.fadeIn(100);
        overlay.find(".popup_delete_btn").on("click", () => {
          // 게시물 삭제
          http
            .delete(`/admin/posts/${postId}/delete`)
            .then(() => location.replace("/admin/posts"))
            .catch()
            .finally(() => {
              overlay.fadeOut(100);
              overlay.children().off("click");
            });
        });
      }
    };


  </script>
</th:block>
