<th:block th:include="admin/admin_sidebar" />
<th:block th:include="module/common" />
<th:block>
  <div class="admin_main_contents">
    <div class="admin_main_contents_category">
      <div class="admin_main_contents_item">
        <p class="main_item">설문 목록</p>
      </div>
    </div>

    <div class="main_contents_wrap">
      <div class="board-search">
        <div class="util-search">총 <strong></strong>개의 설문이 있습니다.</div>
      </div>

      <div class="scroll-table">

        <!--        <div class="board-row">-->
        <!--          <span>1</span>-->
        <!--          <span>폴인사이트 설문</span>-->
        <!--          <span>100p</span>-->
        <!--          <span>~ 2021-7-17</span>-->
        <!--          <span>진행 중</span>-->
        <!--          <span>5</span>-->
        <!--        </div>-->
      </div>
      <div class="pagenation"></div>

    </div>
  </div>
  <script>
    // todo : 페이지네이션
    const surveyListHeader = () => {
      let template = `<div class="board-row board-th">`
      template += `<span>번호</span>`
      template += `<span>설문 이름</span>`
      template += `<span>지급 포인트</span>`
      template += `<span>설문 기간</span>`
      template += `<span>진행 상태</span>`
      template += `<span>참여자 수</span>`
      template += `<span>공지사항 관리</span>`
      template += `</div>`
      return template
    }

    const adminMakeSurveySearchResults = surveys => {
      const table = $('div.scroll-table');
      table.remove('div.board-row')
      table.append(surveyListHeader())
      let idx = 1;
      for (survey of surveys) {
        console.log(survey.title)
        let template = `<div class="board-row">`
        template += `<span>${survey['id']}</span>`// 번호
        template += `<span>${survey['title']}</span>`// 설문 이름
        template += `<span>${survey['point']}</span>`// 지급 포인트
        template += `<span>${survey['phone']}</span>` // 설문 기간
        template += `<span>${survey['role']}</span>`// 진행 상태
        template += `<span>${survey['status.count']}</span>`// 참여자 수
        template += `<span>${survey['surveyId']}</span>`// 서베이 아이디
        template += `<span><button class="btn_udel btn-warn">삭제</button></span>`
        template += `</div>`
        table.append(template);
      }
    }

    const adminGetAllSurveys = () => {
      axios.get('/api/surveys')
          .then(res => {
            console.log(res.data.response[0])
            $('.util-search>strong').text(res.data.response.length)
            adminMakeSurveySearchResults(res.data.response)
          })
          .catch(err => {
            console.log(err)
          })
    }

    $(function () {
      adminGetAllSurveys()
    })
  </script>
</th:block>