<th:block th:include="admin/admin_sidebar" />
<th:block>
  <style>
    .float_btns {
      position: fixed;
      right: 100px;
    }
  </style>
  <div class="admin_main_contents">
    <h1>대시보드</h1>
    <div class="float_btns">
      <button class="btn_udel btn-primary" id="syncSurveyList">서베이몽키와 동기화</button>
      <button class="btn_udel btn-primary" id="getExcelBtn">목록 엑셀로 다운받기</button>
    </div>
  </div>
  <script>
    const syncSurveyList = () => {
      http.get('/api/surveys/sync')
          .then(console.log)
          .catch(console.log)
    }


    $(function () {
      $("#syncSurveyList").on('click', syncSurveyList)
      $("#getExcelBtn").on('click', getDataAsExcel)
    })
  </script>
</th:block>