<th:block th:include="admin/admin_sidebar" />
<th:block>
  <style>
    .header_wrap {
      background-color: rgb(24, 40, 56) !important;
    }
  </style>
  <div class="admin_main_contents">
    <div class="board_contents_wrap">
      <div class="main_item">
        <p>Q&A</p>
      </div>
      <div class="main_contents_wrap">
        <div class="post-search">
          <div class="util-search">
            총 <strong id="total_count"></strong>개의 게시물이 있습니다.
          </div>
          <div class="form-search">
            <div class="tbl-search">
              <div class="box-search">
                <input
                  name="admin_find"
                  type="text"
                  id="searchinput"
                  style="width: 100%"
                />
                <input type="submit" />
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="scroll-table">
            <div class="post-row post-th">
              <span>번호</span>
              <a href="#">제목</a>
              <span>작성자</span>
              <span>작성일</span>
              <span>조회수</span>
              <span>첨부파일</span>
            </div>
          </div>
          <div>
            <button name="btn_add_post" class="btn btn-primary">
              게시물 작성
            </button>
          </div>
          <div class="page-button" id="pagination"></div>
        </div>
      </div>
    </div>

    <div id="loading">
      <div class="spinner"></div>
    </div>
  </div>
  <script th:src="@{/js/PostUtils.js}"></script>
  <script>
    async function getPostData(e) {
      let page = !e ? 0 : e.data.page;
      let regex = !e ? "" : String($("input[name=admin_find]").val()).trim();
      const responseData = await http.get("/api/posts?type=QNA", {
        params: { page: page, size: 10, regex: regex },
      });
      const data = responseData.data.response;

      return {
        content: data.content,
        total: data.totalElements,
        totalPage: data.totalPages,
        current: data.number,
        keyword: regex,
      };
    }

    let init = (e) => {
      const spinner = $("#loading");
      spinner.show();
      getPostData(!e ? 0 : e.data.page).then((obj) => {
        $("#total_count").text(obj.total);
        let table = $(".scroll-table");
        table.children(".post-row:not(:first-child)").remove();
        if (obj.total > 0) {
          makePagination(obj.current, obj.totalPage);
          searchMessage(obj.keyword, obj.total, "게시물이");
          obj.content.forEach((post) => {
            table.append(makePostTemplate(post));
          });
        } else table.append(`<div><h1>게시물이 없습니다.</h1></div>`);
      });
      spinner.hide();
    };

    $(function () {
      init();
      $("input[name=admin_find]").on(
        "keyup",
        { page: 0, regex: $("input[name=admin_find]").val() },
        _.throttle(init, 300)
      );

      $("button[name=btn_add_post]").on("click", function () {
        location.assign("/admin/posts/new");
      });
    });
  </script>
</th:block>
