<th:block th:include="admin/admin_sidebar" />

<th:block>
  <div class="admin_main_contents">
    <div class="admin_main_contents_category">
      <div class="admin_main_contents_item">
        <p class="main_item" th:text="${postDTO.postType}">공지사항</p>
      </div>
    </div>

    <section>
      <div id="metop_container">
        <div class="metop_inner">
          <div class="metop_board_wrap">
            <div class="metop_board_card" style="border-top: 3px solid #eba444">
              <form
                id="frm_board"
                th:object="${postDTO}"
                enctype="multipart/form-data"
              >
                <th:block th:include="fragments/postUpdateBody" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</th:block>
<script>
  let deleteFileList = [];

  let updateBtn = document.querySelector(".btn.btn-support.insert_btn");
  updateBtn.addEventListener("click", async function () {
    let data = new FormData(document.querySelector("#frm_board"));
    let id = updateBtn.getAttribute("postNo");
    data.append("deleteFileList", deleteFileList);
    await http
            .post(`/admin/posts/${id}/edit`, data, {
              headers: { "Content-Type": "multipart/form-data" },
            })
            .then((response) => {
              if(response.data.success){
                location.replace(`/admin/posts/${id}`);
                return;
              }

            });
  });

</script>