<th:block th:include="admin/admin_sidebar" />
<th:block>
  <style>
    .insight_card_wrapper {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      /*align-items: center;*/
      justify-content: space-evenly;
    }

    .card-box {
      width: 600px;
    }

    .card-box > img {
      object-fit: contain;
      object-position: 50% 50%;
    }
  </style>
</th:block>
<th:block>
  <div class="admin_main_contents">
    <div class="board_contents_wrap">
      <div class="main_item">
        <p>Pol's Insight</p>
      </div>
      <div class="main_contents_wrap">
        <div class="insight_card_wrapper">
          <div class="scroll-card"></div>
        </div>
        <div class="page-button" id="pagination"></div>
      </div>
    </div>
    <div id="loading">
      <div class="spinner"></div>
    </div>
  </div>
  <script th:src="@{/js/PostUtils.js}"></script>
  <script>
    async function getInsightData() {
      let response = await http.get("/api/posts?type=INSIGHT");
      let data = response.data.response;
      if (response.data.success) {
        return {
          content: data.content,
          total: data.totalElements,
          totalPage: data.totalPages,
          current: data.number,
        };
      } else alert("데이터를 가져오는 중 오류가 발생하였습니다.");
    }

    let init = (e) => {
      getInsightData().then((obj) => {
        let table = $(".scroll-card");
        if (obj.total > 0) {
          makePagination(obj.current, obj.totalPage);
          obj.content.forEach((insight) => {
            table.append(makeInsightTemplate(insight));
          });
        } else {
          table.append("<h1>데이터가 존재하지 않습니다</h1>");
        }
      });
    };

    const makeInsightTemplate = (insight) => {
      let template = $('<div class="card-box"></div>').on(
        "click",
        function (e) {
          location.assign(`/insight/${insight.id}`.trim());
        }
      );
      if (!!insight.thumbnail)
        template.append(
          `<img src="` +
            "[[${@environment.getProperty('file.upload.address')}]]" +
            `${insight.thumbnail}" alt="">`
        );
      else {
        template.append(`<img src="/img/logo/logo.png" alt="">`);
      }
      template.append(`<div class="card-title">${insight.title}</div>`);
      let update_btn = $(`<button class="btn_udel btn-support">수정</button>`)
        .off()
        .on("click", { id: insight.id }, admin_polsItem_update);
      let delete_btn = $(
        `<button class="btn_udel btn-warn delete_btn">삭제</button>`
      )
        .off()
        .on("click", { id: insight.id }, admin_polsItem_remove);
      let btn_wrap = $("<div></div>");
      btn_wrap.append(update_btn);
      btn_wrap.append(delete_btn);
      template.append(btn_wrap);
      return template;
    };

    const admin_polsItem_update = (e) => {
      e.stopPropagation();
      e.returnValue = false;
      let insight_id = e.data.id;
      // 팝업을 추가해서 넣자
      location.assign(`/admin/posts/${insight_id}/edit`);
    };
    const admin_polsItem_remove = (e) => {
      e.stopPropagation();
      e.returnValue = false;
      if (confirm("게시글을 삭제하시겠습니까?")) {
        let insight_id = e.data.id;
        http
          .delete(`/admin/posts/${insight_id}/delete`)
          .then(() => location.replace("/admin/posts"))
          .catch()
          .finally(() => {
            overlay.fadeOut(100);
            overlay.children().off("click");
          });
      }
    };

    $(function () {
      init();
    });
  </script>
</th:block>
