<th:block th:include="admin/admin_sidebar" />
<th:block th:include="module/common" />
<th:block>
  <div class="admin_main_contents">
    <div class="admin_main_contents_category">
      <div class="admin_main_contents_item">
        <p class="main_item">공지사항</p>
      </div>
    </div>

    <section>
      <div id="metop_container">
        <div class="metop_inner">
          <div class="metop_board_wrap">
            <div class="metop_board_card" style="border-top: 3px solid #eba444">
              <form
                id="frm_board"
                th:action="@{/admin/posts/{id}/edit (id=${postDTO.id})}"
                th:object="${postDTO}"
                method="POST"
                enctype="multipart/form-data"
              >
                <th:block th:include="fragments/postUpdateBody" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</th:block>
