<th:block th:include="admin/admin_sidebar" />
<th:block th:include="module/common" />
<th:block>
  <style>
    .board-row > *:nth-child(1) {
      width: 120px;
    }

    .board-row > *:nth-child(2) {
      width: 200px;
    }

    .board-row > *:nth-child(3) {
      width: 100px;
    }

    .board-row > *:nth-child(4) {
      width: 95px;
    }

    .board-row > *:nth-child(5) {
      width: 150px;
    }

    .board-row > *:nth-child(6) {
      width: 95px;
    }
  </style>
  <div class="admin_main_contents">
    <div class="admin_main_contents_category">
      <div class="admin_main_contents_item">
        <p class="main_item">포인트 정산 요청 목록</p>
      </div>
    </div>

    <div class="main_contents_wrap">
      <div class="count_wrap">
        <div>총 <strong></strong>개의 요청이 있습니다.</div>
      </div>
      <!--관리자 페이지 요청 찾기 기능-->
      <div class="search-box-container">
        <span class="search-icon"><i class="fa fa-search"></i></span>
        <input class="admin_find" name="admin_find" type="text" placeholder="검색" />
      </div>

      <div style="float: right">
        <button class="btn_del btn-big btn-green">엑셀로 저장</button>
      </div>

      <div class="scroll-table">
      </div>
      <div class="pagination"></div>
    </div>
  </div>
  <script>
    const makePointRequestListPagination = current => {
      const paginationForm = $('.pagination')
      const totalPages = Math.ceil(totalcount / 10);

      let start = current > 0 ? current - 1 : 0
      let end = current < totalPages - 1 ? current + 1 : totalPages;
      let first = $(`<div><i class="fas fa-angle-double-left"></i></div>`).on('click', {offset: 0, size: 10}, getPointRequest)
      let prev = $(`<div><i class="fas fa-angle-left"></i></div>`).on('click', {offset: current > 0 ? current - 1 : 0, size: 10}, getPointRequest)
      let next = $(`<div><i class="fas fa-angle-right"></i></div>`).on('click', {offset: current < totalPages - 1 ? current + 1 : totalPages - 1, size: 10}, getPointRequest)
      let last = $(`<div><i class="fas fa-angle-double-right"></i></div>`).on('click', {offset: totalPages - 1, size: 10}, getPointRequest)

      for (let i = start; i < end; i++) {
        const tmp = $(`<div class="board_row">${i + 1}</div>`).on('click', {offset: i, size: 10}, getPointRequest)
        if (i === current) {

        }
        paginationForm.append(tmp)
      }
      paginationForm.prepend(first).prepend(prev)
      paginationForm.append(next).append(last)

    }
    const makePointRequestTemplate = req => {
      let template = $(`<div class="board-row"></div>`);
      template.append(`<span>${req.id}</span>`)
      template.append(`<span>${req.name}</span>`)
      template.append(`<span>${req.point}</span>`)
      template.append(`<span>${req.bank}</span>`)
      template.append(`<span>${req.account}</span>`)
      template.append(`<span>${req.progress}</span>`)
      return template;
    }

    const makeheader = () => {
      let template = $(`<div>`).addClass('board-row').addClass('board-th')
      template.append(`<span>요청 아이디</span>`)
      template.append(`<span>요청인</span>`)
      template.append(`<span>요청 포인트</span>`)
      template.append(`<span>은행</span>`)
      template.append(`<span>계좌번호</span>`)
      template.append(`<span>진행 상황</span>`)
      return template;
    }

    const makePointRequestList = requests => {
      const table = $('.scroll-table')
      table.append(makeheader())
      if (requests.length === 0)
        table.append($(`<div class="empty-data"><h1>요청 목록이 없습니다</h1></div>`))
      else
        for (requst of requests) {
          table.append(makePointRequestTemplate(requst))
        }
    }

    const countPointRequest = e => {
      const url = `/api/points/${!e ? '' : e.data.regex + '/'}total`
      axios.get(url)
          .then(res => {
            pointRequestCount = res.data.response
            $('.count_wrap strong').text(pointRequestCount)
          })
          .catch(err => console.log(err))
    }

    const getPointRequest = e => {
      const url = `/api/points${!e ? '' : '/' + e.data.regex}`
      axios.get(url)
          .then(res => {
            console.log(res.data)
            if (res.data.success) {
              makePointRequestList(res.data.response)
            }
          }).catch(err => console.log(err))
    }

    let pointRequestCount = 0;

    $(function () {
      countPointRequest()
      getPointRequest()

      $('input[name=admin_find]').on('keyup', {regex: $('input[name=admin_find]').val()}, getPointRequest)

    })
  </script>
</th:block>