<th:block th:include="admin/admin_sidebar" />
<th:block>
  <div class="admin_main_contents">
    <div class="admin_main_contents_category">
      <div class="admin_main_contents_item">
        <p class="main_item">게시글 등록</p>
        <form
          id="frm_board"
          th:action="@{/admin/posts/new}"
          th:object="${postDTO}"
          method="POST"
          enctype="multipart/form-data"
        >
          <th:block th:include="fragments/postCreateBody" />
        </form>
      </div>
    </div>
  </div>
</th:block>
