<th:block th:include='admin/admin_sidebar' />
<th:block th:include='module/common' />
<th:block>
  <div class='admin_main_contents'>
    <div class='admin_main_contents_category'>
      <div class='admin_main_contents_item'>
        <p class='main_item'>공지사항</p>
      </div>
    </div>

    <section>
      <div id='metop_container'>
        <div class='metop_inner'>
          <!-- 상세 게시글 창 -->
          <div class='metop_board_wrap' th:object='${board}'>
            <div class='metop_board_card'>
              <form name='' action='' method='POST'>
                <div class='input_wrap title_div'>
                  <div class='board_div'>
                    <div class='tile_info_wrap'>
                      <div>
                        <span class='post_no' th:text="'['+${board.id}+']번째 글'"></span>
                      </div>
                    </div>
                    <div class='title_text'>
                      <span th:text='${board.title}'>폴인사이트입니다.</span>
                    </div>
                  </div>
                </div>

                <div class='input_wrap'>
                  <div class='board_div' id='writer_div'>
                    <label>작성자</label>
                    <span th:text='*{user.name}'>관리자</span>
                  </div>
                </div>
                <div class='input_wrap'>
                  <div class='board_div'>
                    <label>작성일</label>
                    <span class='regdate' th:if='${board.registeredAt == board.registeredAt}' th:text="${#temporals.format(board.registeredAt, 'yyyy-MM-dd HH:mm')}"></span>

                    <label class='label_padding'>조회</label>
                    <span th:text='${board.viewcnt}'>12</span>
                  </div>
                </div>
                <div th:each='file : ${board.attaches}' class='input_wrap'>
                  <div class='board_div'>
                    <label class='file_item' th:text="'첨부파일#'"></label>
                    <a class='file_download' th:href="@{'/boards/'+${file.filePath}}" th:text='${file.originalName}'></a>
                  </div>
                </div>
                <div class='input_wrap textarea_div'>
                  <div class='board_div' th:text='${board.viewcontent}'>

                  </div>
                </div>

                <!-- 취소 & 등록 버튼 -->
                <div class='input_wrap last_wrap'>
                  <div class='board_div btn_wrap'>
                    <div class='btn_wrap1'>
                      <span>
                        <a th:href='@{/admin/boards}' class='board_btn list_btn'> <i class='far fa-file-alt'></i>목록</a>
                      </span>
                    </div>
                    <th:block>
                      <div class='btn_wrap2' th:if="${user.role.toString()} =='ADMIN'">
                        <span>
                          <a th:href='@{/admin/boards/{id}/edit (id=${board.id})}' class='board_btn update_btn'><i class='fas fa-edit'></i>수정</a>
                        </span>
                        <span>
                          <a th:href='@{/admin/boards/{id}/delete (id=${board.id})}' class='board_btn delete_btn'><i class='far fa-trash-alt'></i>삭제</a>
                        </span>
                      </div>
                    </th:block>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script type='text/javascript'>
    $(function() {
      let file_item = document.getElementsByClassName('file_item');
      let fileCount = file_item.length;
      for (let i = 1; i <= fileCount; i++) {
        file_item[i - 1].innerText = '첨부파일#' + i;
      }
    });
  </script>
</th:block>