<th:block th:include="admin/admin_sidebar" />
<th:block th:include="module/common" />
<th:block>
  <meta charset="UTF-8">
  <style>
    .main_item {
      color: #000;
      font-size: 3rem;
      font-weight: bold;
      padding: 10px 0 20px;
      border-bottom: 1px dashed #dadada;
    }

    .admin_main_contents_item > a {
      background-color: #FFF;
      border: 1px solid #DDD;
      font-size: 1rem;
      padding: 10px 20px;
      border-radius: 5px;
      padding: 10px 20px;
      display: inline-block;
      cursor: pointer;
      box-shadow: 0 2px 2px 0 hsl(0deg 0% 60% / 14%), 0 3px 1px -2px hsl(0deg 0% 60% / 20%), 0 1px 5px 0 hsl(0deg 0% 60% / 12%);
      transition: 0.2s linear;
    }

    .admin_main_contents_item > a:hover {
      box-shadow: none;
    }

    .main_contents_wrap {
      margin: 40px 0;
    }

    .board-search {
      display: inline-block;
      width: 100%;
      margin-bottom: 41px;
    }

    .board-search .util-search {
      color: #333;
      font-size: 1.6rem;
      margin-bottom: 20px;
    }

    .board-search .form-search {
      background-color: #EEE;
      padding: 20px;
      box-shadow: 0 2px 2px 0 hsl(0deg 0% 60% / 14%), 0 3px 1px -2px hsl(0deg 0% 60% / 20%), 0 1px 5px 0 hsl(0deg 0% 60% / 12%);
    }

    .board-search .tbl-search {
      text-align: center;
    }

    .board-search .box-search {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      background-color: white;
      height: 55px;
      line-height: 55px;
      border: 1px solid #ccd0d7;
      min-width: 600px;
    }

    .board-search .box-search input {
      position: relative;
      top: -1px;
      width: 100%;
      height: 100%;
      border: 0;
      background-color: transparent;
      font-size: 1.6rem;
      text-indent: 10px;
      padding-right: 55px;
    }

    .board-search .box-search input[type="submit"] {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 55px;
      background-image: url('/img/etc/ico-search-btn.png');
      background-repeat: no-repeat;
      background-position: center;
      text-indent: -9999px;
      cursor: pointer;
    }

    .board-th {
      border-top: 2px solid #7c7c7c;
      background-color: #f2f2f2 !important;
    }

    .board-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #cfcfd1;
      background-color: #FFF;
    }

    .board-row > *:nth-child(1) {
      width: 70px;
    }

    .board-row > *:nth-child(2) {
      width: 500px;
    }

    .board-row > *:nth-child(3) {
      width: 100px;
    }

    .board-row > *:nth-child(4) {
      width: 130px;
    }

    .board-row > *:nth-child(5) {
      width: 80px;
    }

    .board-row > *:nth-child(6) {
      width: 95px;
    }

    .board-row > *:nth-child(7) {
      width: 120px;
    }

    .board-row > span > button:first-child {
      margin-right: 3px;
    }

    .board-title {
      text-align: left !important;
    }

    .board-bottom {
      text-align: right;
      padding: 10px;
    }

    .page-button {
      text-align: center;
      margin: 20px 0;
    }

    .page-button > a {
      text-align: center;
      display: inline-block;
      font-size: 1.5rem;
      width: 30px;
      line-height: 34px;
      border: 1px solid #e2e2e2;
      cursor: pointer;
    }

    .active {
      color: white;
      background-color: #444;
      border: 1px solid #006;
    }

    .file_icon_no {
      color: #ddd;
    }

    .file_icon_yes {
      color: black;
    }
  </style>

  <div>
    <div class="admin_main_contents">
      <div class="admin_main_contents_category">
        <div class="admin_main_contents_item">
          <p class="main_item">공지사항</p>
        </div>
      </div>
      <!-- 게시글 전체 조회 출력 -->
      <div th:replace="fragments/boardList :: #boardTable">
      </div>


    </div>
  </div>
  <script>
    const asyncFindBoard = (e) => {
      e.preventDefault();
      e.returnValue = false;
      const keyword = $("#searchinput").val()
      $.ajax({
        url: '/api/admin/boards/search?keyword=' + keyword,
        type: "POST",
        data: keyword,
      }).done(function (fragment) {
        // console.log(fragment)
        $('#boardTable').replaceWith(fragment);
      });
    }
  </script>
</th:block>