<th:block th:include="layout/header" />
<th:block>
  <link th:href="@{/css/table.css}" rel="stylesheet">
  <style>
    /* CASAREL 아래 nav-bar */
    .headline_wrap {
      align-items     : center;
      color           : red;
      display         : none;
      flex-direction  : column;
      font-size       : 55px;
      gap             : 10px;
      height          : 100%;
      justify-content : center;
    }

    .small-headline {
      font-size : 14px;
    }

    .carasel_wrap {
      height : 35vh;
    }

    .carasel_wrap::before {
      height : 35vh;
    }

    .big_navigation {
      align-items     : center;
      display         : flex;
      justify-content : flex-start;
      margin          : -1px auto 0;
      width           : 1200px;
    }

    .big_navigation_wrap {
      border-bottom : 1px solid #DDDDDD;
    }

    .big_navigation > li > a {
      background     : #CECECE;
      color          : white;
      display        : block;
      font-size      : 15px;
      height         : 50px;
      letter-spacing : -0.5px;
      line-height    : 48px;
      margin         : 0 -1px -1px 0;
      overflow       : hidden;
      padding        : 0 40px;
      text-align     : center;
    }

    .check_navigation {
      background : #192739 !important;
    }

    /* post DESIGN */
    .pols_main_contents {
      display   : block;
      margin    : 40px auto;
      max-width : 1000px;
      width     : 100%;
    }

    .pols_main_contents_item {
      border-bottom : 1px solid #DADADA;
      padding       : 0 0 40px;
    }

    .main_item {
      color       : #000000;
      font-size   : 2.5rem;
      font-weight : bold;
      padding     : 0 20px 10px;
      text-align  : center;
    }

    .sub_item {
      color      : #444444;
      display    : block;
      font-size  : 1.5rem;
      margin-top : 40px;
      text-align : center;
    }

    .logo_introduce_box {
      align-items     : center;
      border-bottom   : 1px solid #DADADA;
      display         : flex;
      flex-direction  : column;
      gap             : 20px;
      justify-content : center;
      padding-bottom  : 40px;
    }

    .logo_introduce_box > img {
      width : 150px;
    }

    .logo_introduce_box p {
      color      : #444444;
      font-size  : 15px;
      text-align : center;
    }

    .logo_introduce_box p:nth-child(1) {
      margin-bottom : 10px;
    }

    .icon_introduce_box {
      align-items     : center;
      display         : flex;
      gap             : 20px;
      justify-content : center;
    }

    .icon_introduce_box > div {
      align-items     : center;
      border          : 1px solid #E1E1E1;
      display         : flex;
      flex-direction  : column;
      gap             : 30px;
      height          : 300px;
      justify-content : center;
      width           : 250px;
    }

    .icon_introduce_box > div > img {
      width : 150px;
    }

    .icon_introduce_box > div > p {
      color     : #4C99CF;
      font-size : 20px;
    }

    .tag_introduce_box {
      align-items     : center;
      display         : flex;
      gap             : 10px;
      justify-content : center;
    }

    .tag_introduce_box:nth-child(1) {
      margin-bottom : 10px;
      margin-top    : 20px;
    }

    .tag_box {
      background : #4C99CF;
      color      : #FFFFFF;
      font-size  : 18px;
      padding    : 10px 0;
      text-align : center;
      width      : 190px;
    }


    @media (min-width : 320px) and (max-width : 480px) {
      .carasel_wrap {
        height : 25vh;
      }

      .headline_wrap {
        display : none;
      }
    }
  </style>


  <div class="carasel_wrap">
    <div class="headline_wrap">
      <span>고객화 함께 가치를</span>
      <span>더해가는 기업</span>
      <span class="small-headline">소제목 블라블라블라블라블라~</span>
    </div>
  </div>

  <div class="big_navigation_wrap">
    <ul class="big_navigation">
      <li><a th:href="@{/company/introduce}" th:classappend="${checked} == 'intro' ? 'check_navigation'">인사말</a></li>
      <li><a th:href="@{/company/map}" th:classappend="${checked} == 'map' ? 'check_navigation'">오시는길</a></li>
    </ul>
  </div>

  <div class="pols_main_contents">
    <div class="pols_main_contents_category">
      <div class="pols_main_contents_item">
        <p class="main_item">회사소개</p>
        <span class="sub_item">고객과 함께 가치를 더해가는 기업</span>
      </div>
    </div>

    <div class="main_contents_wrap">
      <div class="logo_introduce_box">
        <img src="/img/logo/logo.png">
        <div>
          <p>(주)폴인사이트의 POL은 긍정적인(Positive)사고를 가지고 목적, 목표(Objective)를 향해 높고 길게</p>
          <p>뛰어오른다(Leap)는 의미를 담고 있습니다.</p>
        </div>
      </div>
    </div>

    <div class="main_contents_wrap">
      <div class="icon_introduce_box">
        <div class="intro_icon">
          <img src="/img/logo/logo.png">
          <p><strong>P</strong>ositive</p>
        </div>
        <div class="intro_icon">
          <img src="/img/logo/logo.png">
          <p><Strong>O</Strong>bjective</p>
        </div>
        <div class="intro_icon">
          <img src="/img/logo/logo.png">
          <p><strong>L</strong>eap</p>
        </div>
      </div>
    </div>

    <div class="main_contents_wrap">
      <div class="tag_introduce_box">
        <div class="tag_box">정책연구</div>
        <div class="tag_box">평가연구</div>
        <div class="tag_box">만족도, 친절도</div>
        <div class="tag_box">실태조사</div>
      </div>
      <div class="tag_introduce_box">
        <div class="tag_box">통계분석</div>
        <div class="tag_box">홍보마케팅</div>
        <div class="tag_box">웹디자인</div>
        <div class="tag_box">행사기획</div>
      </div>
    </div>
  </div>


  <th:block th:include="layout/footer" />
  <script th:inline="javascript">

  </script>
</th:block>