<th:block>
  <style>
    footer {
      align-items      : center;
      background-color : #FFFFFF;
      border-top       : 1px solid #444444;
      bottom           : 0;
      color            : #000000;
      display          : flex;
      font-size        : 14px;
      height           : 200px;
      justify-content  : space-between;
      left             : 0;
      margin-top       : 50px;
      padding          : 20px 20px 30px;
      position         : relative;
      width            : 100%;
    }

    .footer_container {
      align-items : center;
      display     : flex;
      margin      : 0 auto;
      padding     : 0 15px;
      width       : 1200px;
    }

    .footer_logo {
      background-image    : url("/img/logo/logo_color.png");
      background-position : center center;
      background-repeat   : no-repeat;
      background-size     : contain;
      height              : 50px;
      margin-right        : 70px;
      width               : 200px;
    }

    .footer_href {
      font-weight : bold;
    }

    .footer_href::before {
      color     : #BDBDBD;
      content   : '|';
      display   : inline-block;
      font-size : 14px;
      margin    : 0 8px;
    }

    .footer_conn::before {
      color     : #BDBDBD;
      content   : '|';
      display   : inline-block;
      font-size : 14px;
      margin    : 0 8px;
    }

    .footer_left_common {
      color         : #444444;
      font-size     : 14px;
      margin-bottom : 8px;
    }
    .react_footer_wrap {display: none; width: 100%;}
    .react_footer_container {display: flex; flex-direction: column; gap: 10px;}
    .react_footer_container > span {font-size: 14px;}

    @media (min-width : 320px) and (max-width : 480px) {
      footer {height: 100%;}
      .footer_wrap {display: none;}
      .react_footer_wrap{display: flex; justify-content: center;}
      .footer_logo {margin: 0 auto; width: 140px;}
    }
  </style>
  <footer>
    <!-- 반응형 디자인: footer   -->
    <div class="react_footer_wrap">
      <div class="react_footer_container">
        <a th:href="@{/}">
          <div class="footer_logo"></div>
        </a>
        <span>TEL : 062-374-7011</span>
        <span>FAX : 062-374-7013</span>
        <span>EMAIL : polinsight@gmail.com</span>
      </div>
    </div>

    <!-- WEB 디자인: footer -->
    <div class="footer_wrap">
      <div class="footer_container">
        <a th:href="@{/}">
          <div class="footer_logo"></div>
        </a>
        <div class="footer_left">
          <div class="footer_left_common footer_left_line1">
            <span><a href="#" class="point_color" style="font-weight: bold;">개인정보처리방침</a></span>
            <span><a href="#" class="footer_href">이메일무단수집거부</a></span>
            <span class="footer_href" style="font-weight: normal;">(62265) 광주광역시 광산구 첨단내촌로 70번길 55(월계동 769-4) 404호</span>
          </div>

          <div class="footer_left_common footer_left_line3">
            <span>TEL : 062-374-7011</span>
            <span class="footer_conn">FAX : 062-374-7013</span>
            <span class="footer_conn">EMAIL : polinsight@gmail.com</span>
          </div>
          <div class="footer_left_common footer_left_line4">
            <span>©POLINSIGHT. ALL RIGHTS RESERVED.</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</th:block>