<th:block th:include="layout/header" />
<th:block>
  <!--    <link th:href="@{/css/table.css}" rel="stylesheet">-->
  <style>
    /* CASAREL 아래 nav-bar */
    .headline_wrap {
      height: 100%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: red;
      font-size: 55px;
    }

    .small-headline {
      font-size: 14px;
    }

    .carasel_wrap {
      height: 35vh;
    }

    .carasel_wrap::before {
      height: 35vh;
    }

    .big_navigation {
      width: 1200px;
      margin: -1px auto 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .big_navigation_wrap {
      border-bottom: 1px solid #dddddd;
    }

    .big_navigation > li > a {
      display: block;
      color: white;
      font-size: 15px;
      letter-spacing: -0.5px;
      text-align: center;
      overflow: hidden;
      height: 50px;
      line-height: 48px;
      padding: 0 40px;
      background: #cecece;
      margin: 0 -1px -1px 0;
    }

    .check_navigation {
      background: #192739 !important;
    }

    /* post DESIGN */
    .post_main_contents {
      display: block;
      max-width: 1200px;
      width: 100%;
      margin: 40px auto;
    }

    .post_main_contents_item {
      padding: 10px 0;
      border-bottom: 1px dashed #dadada;
    }

    .main_item {
      color: #000000;
      font-size: 2.5rem;
      font-weight: bold;
      padding: 0 20px 10px;
      text-align: center;
    }

    .sub_item {
      display: block;
      text-align: center;
      font-size: 1.5rem;
      color: #444444;
      margin-top: 40px;
      margin-bottom: 30px;
    }

    .tbl-search {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .box-select {
      appearance: none;
      background: #ffffff url("/img/etc/arrow-search.png") no-repeat right
        center;
      border: 1px solid #ccd0d7;
      font-size: 1.2rem;
      height: 55px;
      line-height: 55px;
      padding-left: 20px;
      text-align: left;
      flex: 1.5;
      cursor: pointer;
    }

    .post-search .form-search {
      padding: 20px 200px;
    }

    .scroll-card {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 13.3px;
    }

    .card-box {
      width: 290px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card-img {
      width: 100%;
      height: 300px;
      border: 1px solid #444444;
      outline: none;
    }

    .card-title {
      width: 100%;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      color: #444444;
      background: #eeeeee;
      border: 1px solid #eeeeee;
    }

    .post-row > *:nth-child(1) {
      width: 70px;
    }

    .post-row > *:nth-child(2) {
      width: 90px;
    }

    .post-row > *:nth-child(3) {
      width: 500px;
    }

    .post-row > *:nth-child(4) {
      width: 120px;
    }

    .post-row > *:nth-child(5) {
      width: 180px;
    }

    .post-row > *:nth-child(6) {
      width: 100px;
    }

    .post-row > *:nth-child(7) {
      width: 120px;
    }

    .status-bar {
      padding: 0;
      background: #4c99cf;
      border-radius: 5px;
      color: #ffffff;
    }

    .status-finish {
      background: #192739 !important;
    }

    .card-box > img {
      width: 290px;
      height: 164px;
      object-fit: contain;
    }

    .card-box:hover {
      cursor: pointer;
    }

    @media (min-width: 320px) and (max-width: 480px) {
      .carasel_wrap {
        height: 25vh;
      }

      .headline_wrap {
        display: none;
      }
    }
  </style>

  <th:block>
    <div class="carasel_wrap">
      <div class="headline_wrap">
        <span>고객화 함께 가치를</span>
        <span>더해가는 기업</span>
        <span class="small-headline">소제목 블라블라블라블라블라~</span>
      </div>
    </div>

    <div class="big_navigation_wrap">
      <ul class="big_navigation">
        <li>
          <a
            th:href="@{/research/online}"
            th:classappend="${checked} == 'online' ? 'check_navigation'"
            >온라인조사</a
          >
        </li>
        <li>
          <a
            th:href="@{/research/pols}"
            th:classappend="${checked} == 'pols' ? 'check_navigation'"
            >폴'S인사이트</a
          >
        </li>
      </ul>
    </div>

    <div class="post_main_contents">
      <div class="post_main_contents_category">
        <div class="post_main_contents_item">
          <p class="main_item">폴'S인사이트</p>
          <span class="sub_item"
            >폴인사이트에서 진행하고 있는 연구조사입니다.</span
          >
        </div>
      </div>

      <div class="main_contents_wrap">
        <div class="post-search">
          <div class="form-search">
            <div class="tbl-search">
              <select name="category" class="box-select category-select">
                <option value="" selected>분류선택</option>
                <option value="">2018</option>
                <option value="">2019</option>
                <option value="">2020</option>
                <option value="">2021</option>
              </select>
              <select name="search" class="box-select search-select">
                <option value="" selected>통합검색</option>
                <option value="">제목</option>
              </select>
              <div class="box-search">
                <input
                  name="admin_find"
                  type="text"
                  id="searchinput"
                  th:value="${keyword}"
                />
                <input type="submit" />
              </div>
            </div>
          </div>
        </div>
        <div class="survey-sort-wrap"></div>
        <div class="scroll-card"></div>
      </div>
    </div>

    <div class="page-button" id="pagination"></div>

    <th:block th:include="layout/footer" />
  </th:block>
  <script th:inline="javascript"></script>
  <script th:src="@{/js/PostUtils.js}"></script>
  <script>
    async function getInsightData() {
      let response = await http.get("/api/posts?type=INSIGHT");
      let data = response.data.response;
      if (response.data.success) {
        return {
          content: data.content,
          total: data.totalElements,
          totalPage: data.totalPages,
          current: data.number,
        };
      } else alert("데이터를 가져오는 중 오류가 발생하였습니다.");
    }

    const init = (e) => {
      getInsightData().then((obj) => {
        let table = $(".scroll-card");
        if (obj.total > 0) {
          makePagination(obj.current, obj.totalPage);
          obj.content.forEach((insight) => {
            table.append(makeInsightTemplate(insight));
          });
        } else {
          table.append("<h1>데이터가 존재하지 않습니다</h1>");
        }
      });
    };

    const makeInsightTemplate = (insight) => {
      let template = $('<div class="card-box"></div>').on(
        "click",
        function (e) {
          location.assign(`/insight/${insight.id}`.trim());
        }
      );
      template.append(
        `<img src="` +
          "[[${@environment.getProperty('file.upload.address')}]]" +
          `${insight.thumbnail}" alt="">`
      );
      template.append(`<div class="card-title">${insight.title}</div>`);
      return template;
    };

    $(function () {
      init();
    });
  </script>
</th:block>
