<th:block th:include="layout/header" />
<th:block>
  <style>
    .header_wrap {
      background-color : rgb(24, 40, 56) !important;
    }

    .content-wrap {
      align-items     : center;
      display         : flex;
      height          : 100%;
      justify-content : center;
      margin          : auto;
      width           : 500px;
    }
  </style>
  <div class="flex-wrapper">
    <div class="flex-content">
      <div class="content-wrap">
        <form th:action="@{/changepwd}" method="POST">
          <div class="input_div">
            <label>
              <p><i class="fas fa-lock"></i>변경 할&nbsp;패스워드</p>
              <input class="pwdinput" name="pwd" placeholder="패스워드" required type="password">
            </label>
          </div>
          <div class="input_div">
            <label>
              <p><i class="fas fa-lock"></i>&nbsp패스워드 확인</p>
              <input class="pwdinput" placeholder="패스워드 확인" required type="password">
            </label>
            <span class="err_msg" id="pwmsg" style="display:none;">패스워드가 다릅니다. 다시 한번 확인해주세요.</span>
          </div>

          <div class="login_btn_wrap">
            <button class="btn-primary btn-effect" th:onclick="window.location.back()">돌아가기</button>
            <button type="submit" class="btn-primary btn-effect" id="btn_submit">변경하기</button>
          </div>
        </form>
      </div>
    </div>
    <th:block th:include="layout/footer" />
  </div>
  <script th:inline="javascript">

    const passwordChecker = () => {
      const passwordValue = $("#pwd").val().trim();
      const confirmValue = $("#pwdcfm").val().trim();
      if (!passwordValue || !confirmValue)
        return

      const msg = $("#pwmsg")
      if (passwordValue !== confirmValue) {
        if (confirmValue.replace(/\s/g, "").length !== 0 && passwordValue.replace(/\s/g, "").length !== 0) {
          msg.text("패스워드가 일치하지 않습니다. 확인해주세요.").removeClass("valid").addClass("invalid")
        }
      } else {
        msg.text("사용 가능한 패스워드 입니다.").removeClass("invalid").addClass("valid")
      }
    }

    $(function () {
      $(document).on('focus', '.login_input', function () {
        $(this).css('border-bottom', '1.5px solid #4C99CF');
      });
      $(document).on('blur', '.login_input', function () {
        $(this).css('border-bottom', '1.5px solid #dde0ea');
      });

      $('.pwdinput').on('keyup', passwordChecker).on('paste', () => alert('붙여넣기는 사용하실 수 없습니다.'));


    })
  </script>
</th:block>