<th:block th:include="layout/header" />
<th:block>
  <style>
    .header_wrap {
      background-color : rgb(24, 40, 56) !important;
    }

    .content-wrap {
      align-items     : center;
      display         : flex;
      height          : 100%;
      justify-content : center;
      margin          : auto;
      width           : 500px;
    }

    .login_input {
      border        : none;
      border-bottom : 1.5px solid #DDE0EA;
      color         : #343236;
      font-size     : 16px;
      height        : 43px;
      outline       : none;
      padding       : 8px 0px;
      width         : 100%;
    }

    .err_msg {
      color   : #D95339;
      display : none;
    }
  </style>
  <div class="flex-wrapper">
    <div class="flex-content">
      <div class="content-wrap">
        <form th:action="@{/changepwd}" method="POST">
          <div class="input_div">
            <label>
              <span class="info_article">새 패스워드</span>
              <input class="user_info_input" name="password" placeholder="패스워드" required type="password">
            </label>
            <span class="err_msg"></span>
          </div>
          <div class="input_div">
            <label>
              <span class="info_article">패스워드 확인</span>
              <input class="user_info_input" name="confirm" placeholder="패스워드 확인" required type="password">
            </label>
            <span class="err_msg"></span>
          </div>

          <div class="login_btn_wrap">
            <button class="btn-primary btn-effect" th:onclick="window.location.replace('/')"><i class="fas fa-home"></i>메인화면으로</button>
            <button type="button" name="pwd_change_btn" class="btn-primary btn-effect" id="btn_submit">변경하기</button>
          </div>
        </form>
      </div>
    </div>
    <th:block th:include="layout/footer" />
  </div>
  <script th:src="@{/js/CommonUtils.js}"></script>
  <script th:src="@{/js/Validator.js}"></script>
  <script th:inline="javascript">

    const passwordChecker = (password, confirm) => {
      return !!(!!password && !!confirm && passwordInputValidator(password));
    }

    const changePassword = () => {
      let password = $('input[name=password]')
      let confirm = $('input[name=confirm]')
      let id = `[[${session.uid}]]`
      if (passwordChecker(password.val(), confirm.val())) {
        http
            .post("/api/password/change", {id: id, password: password.val()})
            .then(res => {
              if (res.data.success) {
                alert('비밀번호가 성공적으로 바뀌었습니다.')
                location.replace("/")
              } else {
                alert('비밀번호 변경 중 오류가 발생하였습니다.\n계속 문제가 발생하면 관리자에게 문의해주세요')
              }
            })
            .catch(console.log)
      } else {
        alert('비밀번호 변경중 오류가 발생하였습니다.\n문제가 계속 발생한다면 관리자에게 문의해주세요.')
      }
    }

    $(function () {
      $(document).on('focus', '.login_input', function () {
        $(this).css('border-bottom', '1.5px solid #4C99CF');
      });
      $(document).on('blur', '.login_input', function () {
            $(this).css('border-bottom', '1.5px solid #dde0ea');
          })
          .on('keyup change', 'input[type=password]', function (e) {
            let passwordValue = $(this).val()
            let msg = $(this).next('.err_msg')
            passwordValidateMessage(passwordValue, msg)
          });

      $('button[name=pwd_change_btn]').on('click', changePassword)
      // $('input[name=password]').on('keyup change', function () {
      //   let msg = $(this).parent('label').next('.err_msg')
      //   let pvalue = $(this).val()
      //   if (!pvalue || !passwordInputValidator(pvalue)) {
      //     msg.text('입력한 비밀번호를 다시한번 확인해주세요.').show()
      //   } else {
      //     msg.text('').hide();
      //   }
      // })
      // $('input[name=confirm]').on('keyup change', function () {
      //   let msg = $(this).parent('label').next('.err_msg')
      //   let pvalue = $(this).val()
      //   if (!pvalue || !passwordInputValidator(pvalue)) {
      //     if (pvalue !== $('input[name=password]').val())
      //       msg.text('비밀번호가 일치하지 않습니다. 확인해주세요.').show()
      //     else
      //       msg.text('입력한 비밀번호를 다시한번 확인해주세요.').show()
      //   } else {
      //     msg.text('').hide();
      //   }
      // })
    })
  </script>
</th:block>