<th:block th:include="layout/header" />
<th:block>
  <style>
    .header_wrap {
      background-color : rgb(24, 40, 56) !important;
    }

    .find_wrap {
      border-radius : 5px;
      box-shadow    : 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
      margin        : 120px auto;
      padding       : 20px;
      width         : 500px;
    }

    .header_box {
      align-items     : center;
      display         : flex;
      justify-content : center;
      width           : 100%;
    }

    .header_box > input[type='radio'] {
      display : none;
    }

    .header_box > label {
      border-radius : 2px;
      color         : #444444;
      cursor        : pointer;
      font-size     : 14px;
      padding       : 10px 25px;
    }

    .header_box > label:hover {
      background-color : hsla(0, 0%, 78%, .2);
    }

    .header_box > input[type='radio']:checked + label {
      background-color : #4C99CF;
      color            : white;
    }

    .header_box > span {
      padding : 0 10px;
    }

    .tab_box {
      display         : none;
      justify-content : center;
      margin-top      : 50px;
    }

    .user_input_box {
      align-items     : center;
      display         : flex;
      font-size       : 16px;
      justify-content : flex-start;
      margin-bottom   : 25px;
      position        : relative;
    }

    .user_input_box > .info_article {
      margin : 0;
      width  : 70px;
    }

    .user_input_box > .user_info_input {
      border        : none;
      border-bottom : 1px solid #DDDDDD;
      font-size     : 16px;
      outline       : none;
      padding       : 3px;
      position      : relative;
      width         : 300px;
    }

    .err_msg {
      color     : tomato;
      display   : none;
      font-size : 14px;
      margin    : 10px 0;
    }

    .mypage_btn {
      background-color : #192739;
      border           : none;
      color            : white;
      cursor           : pointer;
      font-size        : 16px;
      font-weight      : bold;
      outline          : none;
      padding          : 7px 45px;
    }

    .user_btn_wrap {
      align-items     : center;
      display         : flex;
      flex-direction  : column;
      justify-content : center;
      margin-top      : 10px;
    }

    .info_msg {
      font-size     : 12px;
      margin-bottom : 10px;
    }

  </style>
  <div class="flex-wrapper">
    <div class="flex-content">
      <div class="find_wrap">
        <div class="header_box">
          <input type="radio" name="find_tab" id="tab01" checked>
          <label for="tab01">아이디찾기</label>
          <span>/</span>
          <input type="radio" name="find_tab" id="tab02">
          <label for="tab02">비밀번호찾기</label>
        </div>
        <div class="content_box">

          <div class="tab_box box01" style="display: flex;">
            <form>
              <div class="user_input_box">
                <span class="info_article">이름</span>
                <input type="text" class="user_info_input" name="finduser_name" required />
              </div>
              <div class="user_input_box">
                <span class="info_article">휴대전화</span>
                <input type="tel" class="user_info_input" name="phone" maxlength="11" required placeholder="' - ' 없이 입력해주세요." />
              </div>
              <div class="user_btn_wrap" style="justify-content: flex-start;">
                <span class="err_msg">에러 메세지!!</span>
              </div>
              <div class="user_btn_wrap">
                <button name="email" class="mypage_btn update_btn">아이디 찾기</button>
              </div>
            </form>
          </div>

          <div class="tab_box box02">
            <form>
              <div class="user_input_box">
                <span class="info_article">이메일</span>
                <input type="email" class="user_info_input" name="email" required />
              </div>
              <div class="user_input_box">
                <span class="info_article">이름</span>
                <input type="text" class="user_info_input" name="findpwd_name" required />
              </div>
              <div class="user_input_box">
                <label class="info_article">휴대전화</label>
                <input type="tel" class="user_info_input" name="findpwd_phone" required placeholder="' - ' 없이 입력해주세요." />
              </div>
              <div class="user_btn_wrap" style="justify-content: flex-start;">
                <span class="err_msg">이메일 형식이 올바르지 않습니다.</span>
              </div>
              <div class="user_btn_wrap">
                <div class="info_msg">※입력하신 아이디(이메일)로 비밀번호 관련 메일이 전송됩니다.</div>
                <button name="password" class="mypage_btn update_btn">비밀번호 찾기</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <th:block th:include="layout/footer" />
  </div>
  <script th:src="@{/js/Validator.js}"></script>
  <script>
    $(document).on('focus', '.user_info_input', function () {
      $(this).css('border-bottom', '1px solid #4C99CF');
      $(this).prev('.info_article').css('color', '#4C99CF')
      $(this).parent('.user_info_box').css('border', '1px solid #4C99CF');
    });
    $(document).on('blur', '.user_info_input', function () {
      $(this).css('border-bottom', '1px solid #c5c7d0');
      $(this).prev('.info_article').css('color', '#69666D')
      $(this).parent('.user_info_box').css('border', '1px solid #c5c7d0');
    });
    $(document)
        .on('click', '.header_box > input', function () {
          if ($(this).is(':checked')) {
            $('.tab_box').css('display', 'none');
            const id = $(this).attr('id');
            const num = id.substring(3, 5);
            const selector = ".box" + num;
            $(selector).css('display', 'flex');
          }
        })
        .on('keyup change', 'input[type=email]', function () {
          let emailValue = $(this).val()
          let msg = $(this).closest('form').find('.err_msg')
          emailValidateMessage(emailValue, msg)
        })
        .on('keyup change', 'input[type=tel]', function () {
          let phoneValue = $(this).val()
          let msg = $(this).closest('form').find('.err_msg')
          phoneValidateMessage(phoneValue, msg)
        })
        .on('keyup change', 'input[name=findpwd_name], input[name=finduser_name]', function () {
          let nameValue = $(this).val()
          let msg = $(this).closest('form').find('.err_msg')
          nameValidateMessage(nameValue, msg);
        })

    const clickFindBtn = e => {
      e.preventDefault()
      e.stopPropagation()

      let phone = $('input[name=phone]')
      let type = e.target.name
      let finduser_name = $('input[name=finduser_name]')
      let findpwd_name = $('input[name=findpwd_name]')
      let findpwd_phone = $('input[name=findpwd_phone]')
      let email = $('input[name=email]')
      if (type === 'email') {
        if (!isValidEmail(email.val())) {
          alert('입력하신 이메일을 확인해주세요')
          email.focus()
          return;
        }
        if (!isValidName(finduser_name.val())) {
          alert('입력하신 이름을 확인해주세요')
          finduser_name.focus()
          return
        }
      }
      if (type === 'password') {
        if (!isValidName(findpwd_name.val())) {
          alert('입력하신 이름을 확인해주세요')
          findpwd_name.focus()
          return;
        }
        if (!isValidEmail(email.val())) {
          alert('입력하신 이메일을 확인해주세요')
          email.focus()
          return;
        }
        if (!isValidPhone(findpwd_phone.val())) {
          alert('입력하신 이메일을 확인해주세요')
          findpwd_phone.focus()
          return;
        }
      }

      http
          .post('/find?type=' + type, type === 'email' ? {
            phone: phone.val().replace(/([0-9]{3})([0-9]{4})([0-9]{4})/, "$1-$2-$3"),
            name: finduser_name.val()
          } : {
            name: findpwd_name.val(),
            email: email.val(),
            phone: findpwd_phone.val().replace(/([0-9]{3})([0-9]{4})([0-9]{4})/, "$1-$2-$3")
          })
          .then(res => {
            if (res.data.success) {
              if (type === 'email') {
                alert('찾으시는 아이디는\n' + res.data.response + '  입니다.')
                location.replace('/find')
              } else {
                alert('입력하신 이메일로 비밀번호 변경 메일을 보냈습니다. 확인해주세요.')
                location.replace('/find')
              }
            } else {
              alert('입력한 내용을 다시 한번 확인해주세요.')
            }
          })
          .catch(err => {
            console.error(err)
            alert('서버에 문제가 발생하였습니다. 잠시 후 다시 시도해주세요.')
            location.replace('/find')
          })
    }

    $(function () {
      $('button').on('click', clickFindBtn)
      $('input[name=find_tab]').on('click', () => {
        $('.tab_box').find('input').val('')
      })

      $('input[type=tel]')
          .on('focus', phoneDelHypen)
          .on('blur', phoneAddHypen)
    })
  </script>
</th:block>
