<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="module/common" />
<th:block th:include="layout/header" />
<head>
  <meta charset="UTF-8">
  <style>

    .mypage_modal_container {
      height: 100vh;
      width: 100vw;
      position: relative;
      top: 80px;
    }

    .mypage_modal_content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .rtop_btn {
      cursor: pointer;
      position: fixed;
      right: 50px;
      top: 50px;
      border: 1px solid black;
    }
  </style>
</head>
<body>
<div class="mypage_modal_container">
  <div class="mypage_modal_content">
    <div>
      <label>
        이름
        <input th:value="${session.user.name}" type="text">
      </label>
    </div>
    <div>
      <label>
        아이디
        <input id="email" th:value="${session.user.email}" type="email">
      </label>
    </div>
    <div>
      <label>
        비밀번호
        <input id="pwd" type="password" value="">
      </label>
      <span class="info">비밀번호를 변경하고 싶으시면 작성 후 확인버튼을 눌러주세요</span>
    </div>
    <div>
      <label>
        비밀번호 확인
        <input id="pwdcfm" type="password" value="">
      </label>
    </div>
    <!-- TODO 수정 필요-->
    <!--    <div>-->
    <!--      <label>-->
    <!--        관심사-->
    <!--        <input name="point" readonly th:value="${session.user.additional.favorite}">-->
    <!--      </label>-->
    <!--    </div>-->
    <div>
      <label>
        회원 타입
        <input readonly th:value="${session.user.role.name()}" type="text">
      </label>
    </div>
    <div>
      <label>
        보유 포인트
        <input name="point" readonly th:value="${session.user.point}" type="number">
      </label>
    </div>
    <th:block th:if="${session.user.point >= 10000}">
      <div>
        <label>
          요청 할 포인트
          <select name="reqpoint"></select>
        </label>
      </div>
      <div>
        <form action="">
          <div style="display: inline-block">
            <input type="submit" value="지급 요청">
          </div>
        </form>
      </div>
    </th:block>
    <div>
      <button id="modi" th:onclick="chkInput()">변경하기</button>
    </div>
  </div>
  <!--  TODO : -->
  <!--  <div>-->
  <!--    <h2>참여한 설문 목록</h2>-->
  <!--    <th:block th:include="survey/participateSurveyList" />-->
  <!--  </div>-->
  <div class="rtop_btn">
    <label for="deluser">
      <input id="deluser" value="회원 탈퇴" type="button" th:onclick="alert('준비 중 입니다.')">
    </label>
  </div>
</div>
<script>
  const userInfoUpdate = (password) => {
    const userInfo = {}
    userInfo['email'] = $("#email").val()
    userInfo['password'] = password;

    axios.post("/update", userInfo)
        .then(res => {
          console.log(res)
          alert("회원 정보가 업데이트 되었습니다.")
          location.replace("/")
        })
        .catch(err => {
          console.log(err)
          alert("업데이트 중 에러가 발생하였습니다.\n관리자에게 문의하세요")
        })
  }


  const chkInput = () => {
    const pwdValue = $("#pwd").val().trim()
    const pwdcfmValue = $("#pwdcfm").val().trim()

    if (!pwdcfmValue || !pwdValue) {
      return
    }
    if (pwdValue === pwdcfmValue) {
      _.throttle(userInfoUpdate(pwd), 200)
    }
  }

  const deleteUserRequest = (e) => {
    const userinfo = {}
    axios.post('/deleteuser', userinfo)
        .then(res => {
          alert('회원 탈퇴 성공')
          location.replace("/")
        })
        .catch(
            err => {
              console.log(err)
              alert('회원 탈퇴 중 에러가 발생하였습니다.\n관리자에게 문의해주세요.')
            }
        );
  }

  const requestPointToCash = () => {

  }

  const init = () => {
    const amount_point = $('input[name=point]').val();
    if (amount_point >= 10000) {
      let selbox = $('select[name=reqpoint]')
      for (let i = 1; i <= parseInt(amount_point / 10000); i++) {
        selbox.append($('<option></option>').attr("value", i * 10000).text(i * 10000))
      }
    }
  }

  $(function () {
    init()
    $('#deluser').on('click', deleteUserRequest);
    $('#modi').on('click', chkInput);
    $('.header_wrap').css('background-color', '#182838')
  })

</script>
</body>
</html>