<th:block>
  <div>
    <form name="parti_survey_search_form">
      <select name="parti_survey_type" id="">
        <option value="title">제목</option>
        <option value="point">포인트</option>
        <option value="date">날짜</option>
      </select>
      <input name="search_participate_survey" type="text" />
      <button name="parti_survey_search" type="submit">찾기</button>
    </form>
  </div>
  <div>
    <div class="survey_wrap">
      <table>
        <tr>
          <th>.</th>
          <th>참여 설문 제목</th>
          <th>참여 설문 포인트</th>
          <th>설문 참여 날짜</th>
        </tr>
      </table>
      <div class="survey_item">

      </div>
    </div>
  </div>
  <script>

    const makeSurveyViewTemplate = (idx, survey) => {
      let template = '<tr>'
      // 서베이 참여일 추가 필요
      template += `<td><p>${idx}</p></td>`
      template += `<td><p>${survey.title}</p></td>`
      template += `<td><p>${survey.point}</p></td>`
      template += `</tr>`
      return template;
    }

    const makeSurveyListView = (surveys) => {
      const surveyWrap = $('.survey_wrap')
      let cnt = 1;
      for (survey of surveys) {
        surveyWrap.append(makeSurveyViewTemplate(cnt, survey))
        cnt++;
      }
    }

    const getParticipateSurveyList = () => {
      axios.get('/api/survey/participate')
          .then(res => {
            let surveys = res.data
            makeSurveyListView(surveys)
          })
          .catch(err => {
            console.log(err)
            alert('참여한 설문 목록을 가져오던 중 에러가 발생하였습니다.\n문제가 계속 발생하면 관리자에게 문의해주세요.')
          })
    }

    const testFunc = () => {
      axios.get('/api/survey/participate')
          .then(res => {
            makeSurveyListView(res.data)
          })
          .catch(
              err => {
                console.log(err);
                alert('참여한 설문 목록을 가져오던 중 에러가 발생하였습니다.\n문제가 계속 발생하면 관리자에게 문의해주세요.')
              }
          )
    }

    $(function () {
      getParticipateSurveyList();
      $('form[name=parti_survey_search_form]').on('submit', testFunc)
    })

  </script>
</th:block>