<th:block>
  <div class="main_survey_list_wrap">
    <div class="main_survey_list_title">
      <p>진행중인 <span class="pol_color">온라인조사</span></p>
      <span>폴인사이트에서 현재 진행중인 온라인조사를 소개해드립니다.</span>
    </div>
    <div class="search_survey_wrap">
      <div>

        <select name="survey_search_option" id="survey_search_option">
          <option value="title" selected>제목</option>
          <option value="point">포인트</option>
          <!--          <option value="end_date">종료일</option>-->
        </select>
      </div>
      <div class="search_input_wrap">
        <input name="searchInput" placeholder="설문 제목으로 검색" type="text">
      </div>
      <div class="search_btn_wrap">
        <button id="survey_search_btn" value="">🔍찾기</button>
      </div>
    </div>
    <div class="main_survey_box">
    </div>
  </div>
  </body>
  <script>

    const makeSurveyCard = (survey) => {
      let template = ""
      if (survey.isRun) {
        template += '<div class=\"main_survey_item bg_color_item_white\">';
        template += '<p class="survey_run">진행중</p>'
      } else {
        template += '<div class="main_survey_item bg_color_item_gray">';
        template += '<p class="survey_stop">조사완료</p>'
      }
      template += '<p class="survey_title">' + survey.title + '</p>'
      template += '<p class="survey_point">' + !survey.point ? `지정 안됨</p>` : `${survey.point}+ P</p>`
      template += '<p class="survey_date">' + !survey.endAt ? `지정 안됨</p>` : `~ ${survey.endAt}</p>`
      template += '</div>'
      return template;
    }
    const makeSurveyCardList = (surveyList) => {
      const survey_box = $(".main_survey_box");
      let item_wrap = survey_box.find(".main_survey_item_wrap:last-child")
      survey_box.append('<div class="main_survey_item_wrap"></div>')
      for (idx in surveyList) {
        if (!!surveyList[idx].point)
          if (idx % 3 !== 0) {
            item_wrap.append(makeSurveyCard(surveyList[idx]))
          } else {
            survey_box.append('<div class="main_survey_item_wrap"></div>')
            item_wrap = survey_box.find(".main_survey_item_wrap:last-child")
            item_wrap.append(makeSurveyCard(surveyList[idx]))
          }
      }
    }

    const getSurveyList = () => {
      axios.get('/api/surveys')
          .then(res => {
            if (res.data.data !== null) {
              surveys = res.data.data
              if (surveys.length > 0) {
                makeSurveyCardList(surveys)
              } else {

              }
            }
          })
          .catch(err => console.log(err))
    }


    const asyncSurveySearch = () => {
      // 서베이 요소 비우기
      const survey_box = $('.main_survey_box')
      const input = $('input[name=searchInput]')
      survey_box.empty()
      // 검색 타입 가져오기
      const searchType = $('.survey_search_option').val()
      if (!input) {
        // 아무것도 입력이 없을 때
        makeSurveyCardList(surveys)
      } else {
        const filteredSurveys = surveys.filter(s => {
          if (searchType === 'title') {
            return s.title.match(input.val())
          } else if (searchType === 'point') {
            return s.point >= (input.val() * 1)
          } else if (searchType === 'end_date') {
          }
        })

        makeSurveyCardList(filteredSurveys)
      }
    }

    const cardClickEventHandler = (e) => {

    }

    $(function () {
      getSurveyList();
      // $('input[name=searchInput]').on('change', asyncSurveySearch)
    })
  </script>
</th:block>