<th:block th:include="posts/postCommon" />
<th:block>
  <div class="PC">
    <div class="web">

      <div class="sub-main-name"><b>공지사항</b></div>

      <div class="writeBoard">공지사항 등록</div>

      <div class="post">
        <section>
          <div id="metop_container">
            <div class="metop_inner">
              <div class="metop_board_wrap">
                <div class="metop_board_card">
                  <form id="frm_board" class="information" enctype="multipart/form-data" method="post" th:action="@{/posts/new}" th:object="${postDTO}">
                    <div class="input_wrap register_top_wrap">
                      <div class="board_div">
                        <label for="board_title"><span>*</span>게시판</label>
                        <span class="board_span">
                                                <select class="board_input focus_input board_select" name="btype"
                                                        id="board_type" autofocus required th:field="*{postType}">
                                                    <optgroup label="분류 선택">
                                                    <option value="NOTICE">공지사항</option>
                                                    <option value="EVENT">이벤트</option>
                                                        </optgroup>
                                                </select>
                                                        <span>

                                                <span class="size_limit_msg"><i
                                                    class="fas fa-exclamation-circle"></i>(게시판은 저장 후 변경이
                                                    불가능합니다.)</span>
                                                <div class="err_msg_wrap err_title"><span class="err_msg">게시판 타입을
                                                        선택해주세요.:(</span></div>
                                            </span>
                                            </span>
                      </div>
                      <div class="board_div">
                        <label for="board_title"><span>*</span>제목</label>
                        <span class="board_span">
                                                <input type="text" class="board_input focus_input" name="title"
                                                       id="board_title" required maxlength="255" placeholder="제목을 입력하세요." th:field="*{title}" />

                                                <div class="err_msg_wrap err_title"><span class="err_msg">제목을
                                                        입력해주세요:(</span></div>
                                            </span>

                      </div>
                      <div class="board_div" id="writer_div">
                        <label for="board_title"><span>*</span>작성자</label>
                        <span class="board_span">
                                                            <input type="text" class="board_input board_writer" name="writer" id="board_writer" th:value="${user.name}" readonly />
                                            </span>
                      </div>
                        <div class="board_div" id="thumbnail">
                            <label for="board_title"><span>*</span>썸네일 이미지</label>
                            <span class="board_span">
                                                            <input type="file" class="board_input board_writer" th:filed="*{thumbnailImg}" />
                                            </span>
                        </div>
                    </div>
                    <!-- 게시글 내용 등록(스마트에디터) -->
                    <div class="input_wrap textarea_div">
                      <div class="board_content_wrap">
                                            <textarea id="board_content" name="viewcontent"
                                                      class="board_content focus_input" placeholder="내용을 입력하세요" rows="30" th:field="*{content}" style="width: 100%;"></textarea>
                        <div class="err_msg_wrap err_info"><span class="err_msg">내용을
                                                    입력해주세요:(</span></div>
                      </div>
                    </div>

                    <!-- 게시글 첨부파일 등록 -->
                    <div class="input_wrap register_bottom_wrap">
                      <div class="board_div">
                        <label for="board_title">파일첨부</label>
                        <div class="board_span">
                          <div class="file_wrap">
                            <div class="file_item">
                              <label for="">첨부파일#1</label>
                              <div class="">
                                <input type="file" class="board_file" name="file" />
                                <button type="button" class="btn-add btn-basic">+
                                                                                추가
                                </button>
                                <span class="size_limit_msg"><i
                                    class="fas fa-exclamation-circle"></i>(업로드 허용용량은
                                                                100MB입니다)</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <!-- 취소 & 등록 버튼 -->
                    <div class="input_wrap">
                      <div class="board_div btn_wrap">
                                            <span>
                                                <button type="button" class="btn btn-basic cancel_btn" onclick="history.back()">취소</button>
                                            </span>
                        <span>
                                                <button type="button" class="btn btn-green insert_btn" onclick="document.getElementById('frm_board').submit();">등록</button>
                                            </span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div>
    <th:block th:include="layout/footer" />
  </div>
  <script>

    $(function () {
      $('.nav_action').click(function () {
        var value = $(this).find('.arrow').attr('class');
        if (value == 'fas fa-caret-down arrow') {
          $(this).next('div').css('height', '100%');
          $(this).find('.arrow').attr('class', 'fas fa-caret-up arrow');
        } else if (value == 'fas fa-caret-up arrow') {
          $(this).next('div').css('height', '0');
          $(this).find('.arrow').attr('class', 'fas fa-caret-down arrow');
        }
      });

      $('.btn-add').click(function () {
        var filecnt = $('.file_item').length;
        var html = '<div class="file_item other_file_item">' +
            '<label for="">첨부파일#' + (filecnt + 1) + '</label>' +
            '<div class="">' +
            '<input type="file" class="board_file" name="file" />' +
            '<button type="button" class="btn-remove" data-num="' + (filecnt + 1) + '">- 제거</button>' +
            '<span class="size_limit_msg"><i class="fas fa-exclamation-circle"></i>(업로드 허용용량은 100MB입니다)</span>' +
            '</div>' +
            '</div>';
        $('.file_wrap').append(html);
      });
    });
    $(document).on('click', '.btn-remove', function () {
      var num = $(this).attr('data-num');
      $('.file_item').eq(num - 1).css('border', 'none').empty();
    });
    $(document).on('change', '.board_file', function () {
      const file = $(this).val().toString();
      console.log(file);
      if (file.includes("[") || file.includes("]")) {
        alert("파일명에 대괄호는 포함할 수 없습니다.")
        $(".board_file").val("");
      }
    });

  </script>
</th:block>