<th:block th:include="layout/header" />
<th:block th:include="module/common" />
<th:block>
  <style>
    .header_wrap {
      background-color: rgb(24, 40, 56) !important;
    }
  </style>
  <div class="flex-wrapper">
    <div class="flex-content">
      <div class="PC">
        <div class="web">
          <p class="main_item">게시글 등록</p>
          <div class="post">
            <form
              id="frm_board"
              class="information"
              enctype="multipart/form-data"
              method="post"
              th:action="@{/posts/new}"
              th:object="${postDTO}"
            >
              <th:block th:include="fragments/postCreateBody" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <th:block th:include="layout/footer" />
  </div>
</th:block>
