<th:block>
  <style>
  </style>
  <div class="main_item">
    <p>FAQ</p>
  </div>
  <div class="main_contents_wrap">
    <div class="post-search">
      <div class="util-search">총 <strong></strong>개의 게시물이 있습니다.</div>
    </div>
    <div class="scroll-table">
      <div class="post-row post-th">
        <span>번호</span>
        <a href="#">제목</a>
        <span>작성자</span>
        <span>작성일</span>
        <span>조회수</span>
        <span>첨부파일</span>
      </div>
    </div>
    <div id="pagination"></div>
  </div>
  <script>
    // todo 메서드 로직 전부 바꾸기
    const makePagination = (current, totalPage) => {
      let first = $(`<a></a>`).on('click', getPostsByType('faq', 0));
      let prev = $(`<a></a>`).on('click', getPostsByType('faq', current - 1 > 1 ? current - 1 : 1));
      let next = $(`<a></a>`).on('click', getPostsByType('faq', current + 1 < totalPage - 1 ? current + 1 : totalPage - 1));
      let last = $(`<a></a>`).on('click', getPostsByType('faq', totalPage - 1));

      let pagination = $('#pagination')
      pagination.append(first).append(prev)
      for (let i = current - 5; i <= current + 5; i++) {
        let btn = $(`<a>${i + 1}</a>`).on('click', getPostsByType('faq', i))
        btn.removeClass('active')
        if (current === i)
          btn.addClass('active')

        pagination.append()
      }
      pagination.append(next).append(last)
    }
    const makeTemplate = (post) => {
      let template = $(`<div></div>`).addClass('post-row')
      template.append(`<div>${post.id}</div>`)
      template.append(`<div>${post.title}</div>`)
      template.append(`<div>${post.user.name}</div>`)
      template.append(`<div>${post.registeredAt}</div>`)
      template.append(`<div>${post.viewcnt}</div>`)
      template.append(`<div>-</div>`)
      template.on('click', {post: post}, e => {
        location.href = `/posts/${post.id}`
      })
      return template;
    }
    const init = () => {
      let data = []
      getPostsByType('faq')
      $('.util-search').find('strong').text(data.totalElements)
      data.forEach(post => {
        makeTemplate(post)
      })
      makePagination(data.number, data.totalPages)
    }
    $(function () {
      init();
    })
  </script>
</th:block>