<th:block th:include="layout/header" />
<th:block>
  <style>
    .header_wrap {
      background-color: rgb(24, 40, 56) !important;
    }

    .board_contents_wrap {
      margin: auto;
      max-width: 1200px;
    }

    .main_item {
      border-bottom: 1px dashed #dadada;
      color: #000000;
      font-size: 2.5rem;
      font-weight: bold;
      padding: 10px 0 20px;
    }

    /* 카드 제목 */
    .input_wrap {
      align-items: center;
      display: flex;
    }

    .last_wrap {
      margin-bottom: 10px;
    }

    .last_wrap > .board_div {
      padding: 10px 0;
    }

    .board_div {
      border-bottom: 1px solid #dadada;
      border-radius: 2px;
      font-size: 1rem;
      height: 100%;
      padding: 20px 10px;
      width: 100%;
    }

    /* 제목 */
    .tile_info_wrap {
      align-content: center;
      display: flex;
      justify-content: space-between;
    }

    .post_no {
      color: #515151;
      font-size: 13px;
      font-weight: bold;
    }

    .title_text > span {
      color: #515151;
      font-size: 20px;
    }

    .regdate {
      color: #515151;
      font-size: 14px;
    }

    /* 작성자 */
    .post_count_wrap > div {
      border: 1px solid #dddddd;
      border-radius: 5px;
      box-sizing: border-box;
      color: #515151;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 13px;
      height: 48px;
      margin-left: 5px;
      min-width: 48px;
      overflow: hidden;
      position: relative;
      text-align: center;
    }

    .post_count_wrap strong {
      display: block;
      font-size: 1rem;
      font-weight: 400;
      line-height: 26px;
    }

    .textarea_div {
      align-items: flex-start;
    }

    /* 등록/취소 버튼 */
    .btn {
      font-size: 1rem;
    }

    .btn > i {
      margin-right: 5px;
    }

    .btn_wrap {
      border: 0;
      border-radius: 0;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .board_btn {
      background: white;
      border-radius: 2px;
      color: white;
      font-size: 14px;
      padding: 12px 22px;
      text-decoration: none;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* 버튼 색상들 */
    .list_btn {
      background-color: #3885ca;
    }

    .update_btn {
      background-color: #eba444;
    }

    .delete_btn {
      background-color: tomato;
      cursor: pointer;
    }

    .btn_wrap1 {
      margin-left: -10px;
    }

    .btn_wrap2 {
      margin-right: -10px;
    }

    .list_btn > i,
    .delete_btn > i,
    .update_btn > i {
      font-size: 17px;
      font-weight: normal;
      padding-right: 5px;
    }

    .uploadedList > li {
      border-radius: 2px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      margin-right: 5px;
    }

    .board_btn:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 14px 26px -12px hsla(0, 0%, 60%, 0.42),
        0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px hsla(0, 0%, 60%, 0.2);
    }

    .list_btn > i,
    .delete_btn > i,
    .update_btn > i {
      font-size: 17px;
      font-weight: normal;
      padding-right: 5px;
    }

    .uploadedList > li {
      border-radius: 2px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      margin-right: 5px;
    }

    /* 첨부파일 */
    .title_div {
      background-color: #f9f9f9;
      border-top: 2px solid #7c7c7c;
    }

    .board_div > label {
      border-right: 1px solid #efefef;
      font-weight: bold;
      margin-right: 7px;
      padding-right: 7px;
    }

    .label_padding {
      padding-left: 20px;
    }

    .file_download {
      color: #007791;
    }

    .file_download:hover {
      text-decoration: underline;
    }

    .post-move {
      margin-top: 20px;
    }

    .postList {
      align-items: flex-start;
      background-color: #f9f9f9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .nearPost {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      width: 100%;
    }

    .nearPost > div {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }

    .nearPostLetter {
      border-right: 2px solid #dadada;
      color: black;
      margin-right: 15px;
      padding-right: 15px;
    }

    .metop_board_card {
      margin-top: 30px;
    }

    @media (min-width: 320px) and (max-width: 480px) {
      .board_contents_wrap {
        margin: 50px auto 0;
      }

      .metop_board_card {
        margin: 20px 10px 0;
      }

      .post-move {
        margin: 20px 10px 0;
      }

      .nearPostDate {
        display: none !important;
      }

      .nearPostLetter {
        margin-right: 5px;
        padding-right: 5px;
      }

      .board_contents_wrap {
        min-height: calc(100vh - 260px);
      }
    }
  </style>
  <div class="flex-wrapper">
    <div class="flex-content">
      <div class="board_contents_wrap">
        <!-- Header Title -->
        <div th:if="${post.postType.name().equals('NOTICE')}" class="main_item">
          <p style="text-align: center">공지사항</p>
        </div>
        <div th:if="${post.postType.name().equals('QNA')}" class="main_item">
          <p style="text-align: center">Q & A</p>
        </div>
        <div
          th:if="${post.postType.name().equals('INSIGHT')}"
          class="main_item"
        >
          <p style="text-align: center">Pol's Insight</p>
        </div>

        <!-- 게시글 내용 -->
        <!--        <section>-->
        <!--          <div class="metop_board_card" th:object="${post}">-->
        <!--            <div class="input_wrap title_div">-->
        <!--              <div class="board_div">-->
        <!--                <div class="tile_info_wrap">-->
        <!--                  <div>-->
        <!--                    <span class="post_no" th:text="'['+${post.id}+']번째 글'"></span>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="title_text">-->
        <!--                  <span th:text="*{title}"></span>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->

        <!--            <div class="input_wrap">-->
        <!--              <div class="board_div" id="writer_div">-->
        <!--                <label>작성자</label>-->
        <!--                <span th:text="*{user.name}"></span>-->
        <!--              </div>-->
        <!--            </div>-->

        <!--            <div class="input_wrap">-->
        <!--              <div class="board_div">-->
        <!--                <label>작성일</label>-->
        <!--                <span class="regdate" th:text="${#temporals.format(post.registeredAt, 'yyyy-MM-dd HH:mm')}"></span>-->
        <!--                <label class="label_padding">조회</label>-->
        <!--                <span th:text="${post.viewcnt}"></span>-->
        <!--              </div>-->
        <!--            </div>-->

        <!--            <div th:each="file : ${post.attaches}" class="input_wrap">-->
        <!--              <div class="board_div">-->
        <!--                <label th:text="'첨부파일#' + ${fileStat.index + 1}"></label>-->
        <!--                <a class="file_download" th:href="@{'/files/'+${file.fileName}}" th:text="${file.originalName}"></a>-->
        <!--                &lt;!&ndash;                <a class="file_download" th:text="${file.originalName}" th:href="@{'/posts/'+${file.filePath}}"></a>&ndash;&gt;-->
        <!--              </div>-->
        <!--            </div>-->
        <!--            <div th:each="file : ${post.attaches}" class="input_wrap">-->
        <!--              <img th:src="'/files/'+${file.fileName}">-->
        <!--            </div>-->

        <!--            <div class="input_wrap textarea_div">-->
        <!--              <div class="board_div" th:text="${post.viewcontent}" style="white-space: pre;">-->
        <!--              </div>-->
        <!--            </div>-->

        <!--            &lt;!&ndash; 취소 & 등록 버튼 &ndash;&gt;-->
        <!--            <div class="input_wrap last_wrap">-->
        <!--              <div class="board_div btn_wrap">-->
        <!--                <div class="btn_wrap1">-->
        <!--                      <span>-->
        <!--                          <a onclick="goList()" class="btn btn-primary"> <i class="far fa-file-alt"></i>목록</a>-->
        <!--                      </span>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->

        <!--          </div>-->
        <!--        </section>-->
        <th:block th:include="fragments/postViewBody" />
        <!--    -->
        <div class="post-move" th:object="${post}">
          <div class="postList">
            <div class="nearPost" th:unless="${nextPost} ==null"                   th:onclick="|location.href='@{/posts/{id} (id=${nextPost.id})}'|">
              <div>
                <div class="nearPostLetter"><b>다음글</b></div>
                <div
                  class="nearPostName"
                  th:text="${nextPost.title}"

                >
                  -다음글 제목-
                </div>
              </div>
              <div
                class="nearPostDate"
                th:text="${#temporals.format(nextPost.registeredAt, 'yyyy-MM-dd')}"
              >
                -다음글 날짜
              </div>
            </div>
            <div class="nearPost" th:unless="${prevPost} ==null" th:onclick="|location.href='@{/posts/{id} (id=${prevPost.id})}'|">
              <div>
                <div class="nearPostLetter"><b>이전글</b></div>
                <div
                  class="nearPostName"
                  th:text="${prevPost.title}"

                >
                  -이전글 제목-
                </div>
              </div>
              <div
                class="nearPostDate"
                th:text="${#temporals.format(prevPost.registeredAt, 'yyyy-MM-dd')}"
              >
                -이전글 날짜
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        th:if="${post.postType.name().equals('QNA')}"
        th:include="fragments/comment"
      ></div>
    </div>
    <th:block th:include="layout/footer" />
  </div>

  <script type="text/javascript">
    let bno = [[${post.id}]];
    $(function () {
      $('.nav_action').click(function () {
        let value = $(this).find('.arrow').attr('class');
        if (value === 'fas fa-caret-down arrow') {
          $(this).next('div').css('height', '100%');
          $(this).find('.arrow').attr('class', 'fas fa-caret-up arrow');
        } else if (value === 'fas fa-caret-up arrow') {
          $(this).next('div').css('height', '0');
          $(this).find('.arrow').attr('class', 'fas fa-caret-down arrow');
        }
      });

      // 삭제버튼 클릭시 모달창 Open
      $('.delete_btn').click(function () {
        if (reply_cnt === 0) { // 댓글이 없는 경우
          $('#modal_msg_main_txt').text(bno + "번 게시글을 삭제하시겠습니까?");
          $('#modal_msg_yes').css('display', 'block');
          $('#modal_msg_cancle').text('취 소');
        } else { // 댓글이 있는 경우
          $('#modal_msg_main_txt').text("댓글이 있는 게시글은 삭제할 수 없습니다.");
          $('#modal_msg_yes').css('display', 'none');
          $('#modal_msg_cancle').text('확 인');
        }

        $('.modal_msg_wrap').css('display', 'flex');
      });

      // 삭제 알림 모달창에서 확인버튼 Click -> 게시글 삭제
      $('#modal_msg_yes').click(function () {
        $.ajax({
          type: 'DELETE',
          url: '/posts/' + bno,
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          success: function (data) {
            if (data === 0) {
              $('#modal_msg_main_txt').text("댓글이 있는 게시글은 삭제할 수 없습니다.");
              $('#modal_msg_yes').css('display', 'none');
              $('#modal_msg_cancle').text('확 인');
              $('.modal_msg_wrap').css('display', 'flex');
            } else if (data === 9) {
              $('#modal_msg_main_txt').text("비정상적인 접근입니다.");
              $('#modal_msg_yes').css('display', 'none');
              $('#modal_msg_cancle').text('확 인');
              $('.modal_msg_wrap').css('display', 'flex');
            } else {
              location.href = "/posts"
            }
          },
          error: function () {
            alert('System ERROR:(');
          }
        });
      });
    });


    const getCookie = function (name) {
      let value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return value ? value[2] : null;
    };

    const goList = () => {
      const listBtnUrl = getCookie("listBtnUrl");
      if (listBtnUrl != null) {
        location.href = listBtnUrl;
      } else {
        location.href = "/posts"
      }
    }

    const onDeletePost = () => {
      let postId = "[[${post.id}]]";
      let curUserName = $("#current_username").text();
      let curUserRole = $("#current_userrole").text();
      let postWriter = "[[${post.userId}]]";

      if (curUserRole.includes("ADMIN") || postWriter === curUserName) {
        let overlay = $(".popup_overlay");
        overlay.fadeIn(100);
        overlay.find(".popup_delete_btn").on("click", () => {
          http
                  .delete(`/admin/posts/${postId}/delete`)
                  .then(() => location.replace("/posts"))
                  .catch()
                  .finally(() => {
                    overlay.fadeOut(100);
                    overlay.children().off("click");
                  });
        });
      }
    };


  </script>
</th:block>
