<th:block th:include="posts/PostCommon" />
<th:block>
  <div class="PC">
    <div class="web">
      <div class="sub-main-name"><b>공지사항</b></div>

      <div class="post" th:object="${post}">
        <div class="information">
          <div class="information_title">
            <div class="titleContent" th:text="*{title}"><b>-제목-</b></div>
          </div>
          <div class="information_write">
            <div class="information_name">
              <div class="name">작성자&nbsp;:</div>
              <div class="nameContent" th:text="*{user.name}">관리자</div>
            </div>
            <div class="margin"><b> | </b></div>
            <div class="information_date">
              <div class="date">작성일 :</div>
              <div class="dateContent" th:text="${#temporals.format(post.registeredAt, 'yyyy-MM-dd HH:mm')}"> -작성일-</div>
            </div>
            <div class="margin"><b> | </b> 조회수 :</div>
            <div class="information_count" th:text="${post.viewcnt}"> 조회수</div>
          </div>

          <div class="information_file">
            <div class="file"><b>파일</b></div>
            <div class="fileContent">
              <div class="file1" th:each="file : ${post.attaches}">
                <div class="fileName">
                  <span class="file_item" th:text="'첨부파일#'"></span>
                  <a class="file_download" th:text="${file.originalName}" th:href="@{'/posts/'+${file.filePath}}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="letter">
          <div class="postContent">
            <div th:text="${post.viewcontent}"></div>
            <!--글 내용에 따라 높이 조정-->
          </div>
        </div>
        <span th:unless="${user} == null">
            <div class="Button" th:if="${user.role.toString()} =='ADMIN'">
                <div class="modifyButton">
                    <a class="btn" th:href="@{/posts/{id}/edit (id=${post.id})}"> <b>수정</b></a>
                </div>
                <div class="listButton">
                    <a class="btn" href="/posts"> <b>목록</b></a>
                </div>
            </div>
            </span>
        <div class="postList">
          <div class="nearPost" th:unless="${nextPost} ==null">
            <div class="nearPostLetter"><b>다음글</b> &nbsp;&nbsp;&nbsp; |</div>
            <div class="nearPostName" th:text="${nextPost.title}" th:onclick="|location.href='@{/posts/{id} (id=${nextPost.id})}'|"> -다음글 제목-</div>
            <div class="nearPostDate" th:text="${#temporals.format(nextPost.registeredAt, 'yyyy-MM-dd HH:mm')}">-다음글 날짜</div>
          </div>
          <div class="nearPost" th:unless="${prevPost} ==null">
            <div class="nearPostLetter"><b>이전글 </b>&nbsp;&nbsp;&nbsp; |</div>
            <div class="nearPostName" th:text="${prevPost.title}" th:onclick="|location.href='@{/posts/{id} (id=${prevPost.id})}'|"> -이전글 제목-</div>
            <div class="nearPostDate" th:text="${#temporals.format(prevPost.registeredAt, 'yyyy-MM-dd HH:mm')}">-이전글 날짜</div>
          </div>
        </div>

      </div>
    </div>
    <div>
      <th:block th:include="lyaout/footer" />
    </div>
    <script type="text/javascript">
      window.onload = function () {
        let file_item = document.getElementsByClassName("file_item");
        let fileCount = file_item.length;

        console.log(fileCount, file_item);
        for (let i = 1; i <= fileCount; i++) {
          file_item[i - 1].innerText = "첨부파일#" + i;
        }
      }

      /* <![CDATA[ */
      var bno = [[${post.id}]];
      /* ]]> */
      $(function () {
        $('.nav_action').click(function () {
          var value = $(this).find('.arrow').attr('class');
          if (value === 'fas fa-caret-down arrow') {
            $(this).next('div').css('height', '100%');
            $(this).find('.arrow').attr('class', 'fas fa-caret-up arrow');
          } else if (value === 'fas fa-caret-up arrow') {
            $(this).next('div').css('height', '0');
            $(this).find('.arrow').attr('class', 'fas fa-caret-down arrow');
          }
        });

        // 삭제버튼 클릭시 모달창 Open
        $('.delete_btn').click(function () {
          if (reply_cnt === 0) { // 댓글이 없는 경우
            $('#modal_msg_main_txt').text(bno + "번 게시글을 삭제하시겠습니까?");
            $('#modal_msg_yes').css('display', 'block');
            $('#modal_msg_cancle').text('취 소');
          } else { // 댓글이 있는 경우
            $('#modal_msg_main_txt').text("댓글이 있는 게시글은 삭제할 수 없습니다.");
            $('#modal_msg_yes').css('display', 'none');
            $('#modal_msg_cancle').text('확 인');
          }

          $('.modal_msg_wrap').css('display', 'flex');
        });

        // 삭제 알림 모달창에서 확인버튼 Click -> 게시글 삭제
        $('#modal_msg_yes').click(function () {
          $.ajax({
            type: 'DELETE',
            url: '/posts/' + bno,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
              if (data === 0) {
                $('#modal_msg_main_txt').text("댓글이 있는 게시글은 삭제할 수 없습니다.");
                $('#modal_msg_yes').css('display', 'none');
                $('#modal_msg_cancle').text('확 인');
                $('.modal_msg_wrap').css('display', 'flex');
              } else if (data === 9) {
                $('#modal_msg_main_txt').text("비정상적인 접근입니다.");
                $('#modal_msg_yes').css('display', 'none');
                $('#modal_msg_cancle').text('확 인');
                $('.modal_msg_wrap').css('display', 'flex');
              } else {
                location.href = "/posts"
              }
            },
            error: function () {
              alert('System ERROR:(');
            }
          });
        });
      });
    </script>
</th:block>