<th:block>
  <style>
    .comment-list {
      margin         : 10px auto;
      max-width      : 1200px;
      border-radius  : 4px;
      display        : flex;
      flex-direction : column;
      gap            : 10px;
    }

    .comment-row {
      display        : flex;
      flex-direction : column;
      gap            : 15px;
      border         : 1px solid #CCCCCC;
      border-radius  : 4px;
    }

    .comment-content {
      padding : 0 10px;
    }

    .comment-btn-wrap {
      padding : 0 10px 10px;
    }

    .comment-input {
      max-width       : 1200px;
      margin          : 0 auto;
      padding         : 10px;
      border-radius   : 4px;
      border          : 1px solid #CCCCCC;
      display         : flex;
      justify-content : flex-start;
      align-items     : center;
      gap             : 10px;
    }

    .comment-input > input {
      height  : 30px;
      outline : none;
      border  : 1px solid #CCCCCC;
      padding : 2px;
      width   : 500px;
    }

    .btn-reply {
      padding       : 5px 10px;
      border        : 0;
      border-radius : 4px;
    }

    .comment-header {
      display          : flex;
      justify-content  : space-between;
      align-items      : center;
      background-color : #EEEEEE;
      padding          : 10px;
    }
  </style>
  <th:block>
    <div name="comment" class="comment-list">

    </div>
    <div name="comment-input" class="comment-input">
      <input
          name="input-comment-value"
          type="text"
          placeholder="댓글을 남겨주세요"
      />
      <span>
        <button name="add-comment-btn" class="btn-reply btn-green" disabled>답글 달기</button>
      </span>
    </div>
  </th:block>
  <script>
    async function getCommentByPostId(postId) {
      let res = await http.get(`/api/comment/${postId}`);
      let data = res.data.response;
      return {total: data.length, data: data};
    }

    const makeCommentTemplate = (comments, postId) => {
      let currentUserName = `[[${name}]]`
      let commentBody = $("div[name=comment]");
      comments.forEach((comment) => {
        let bodyTemplate = $(
            `<div class="comment-row "><div class="comment-header"><span name="author">${
                comment.writer
            } 님</span><span name="registryDate">${dayAndTime(
                comment.lastModifiedAt
            )}</span></div><div class="comment-content"><span>${
                comment.content
            }</span></div></div>`
        );

        let btnTemplate = $(`<div class="comment-btn-wrap"></div>`);
        if (currentUserName !== 'Anonymous' && currentUserName === comment.writer) {
          btnTemplate.append(
              $(
                  `<span><button type="button" name="content" class="btn-reply btn-support">수정</button></span>`
              ).on("click", {before: comment, id: postId}, commentUpdateHandler)
          );
          btnTemplate.append(
              $(
                  `<span><button type="button" name="content" class="btn-reply btn-warn" style="margin-left: 5px;">삭제</button></span>`
              ).on("click", {id: comment.seq}, commentDeleteEvent)
          );
          bodyTemplate.append(btnTemplate);
        }
        commentBody.append(bodyTemplate);
      });
    };

    const commentDeleteEvent = (e) => {
      let commentId = e.data.id;
      http
          .delete(`/api/comment/${commentId}`)
          .catch((err) => {
            console.error(err);
            alert("댓글 삭제 실패\n관리자에게 문의해주세요");
          })
          .finally(() => location.reload());
    };

    const commentAddEvent = (e) => {
      let comment = {
        content: $("input[name=input-comment-value]").val(),
      };
      http
          .post(`/api/comment/${getInsightId()}`, comment)
          .catch((err) => {
            console.error(err);
            alert("댓글 생성 중 오류가 발생하였습니다.");
          })
          .finally(() => location.reload());
    };

    const commentUpdateHandler = (e) => {
      let before = e.data.before;
      let comment = $(e.target).closest(".comment-row");
      let content_div = comment.find("div.comment-content");
      comment.find("div.comment-btn-wrap").remove();
      content_div.empty();
      content_div.append($(`<input />`).val(before.content));
      content_div.append(
          $(`<button>변경</button>`).on(
              "click",
              {comment: before},
              commentUpdate
          )
      );
      content_div.append(
          $(`<button type="button" name="content" >삭제</button>`).on(
              "click",
              {id: before.seq},
              commentDeleteEvent
          )
      );
    };

    const commentUpdate = (e) => {
      let comment = e.data.comment;
      comment.content = $(e.target).prev("input").val();
      http
          .patch(`/api/comment`, comment)
          .catch((err) => {
            console.error(err);
            alert("댓글 업데이트 중 오류가 발생하였습니다.");
          })
          .finally(() => location.reload());
    };

    const initComment = (e) => {
      getCommentByPostId(getInsightId()).then((obj) => {
        makeCommentTemplate(obj.data, getInsightId());
      });
    };

    const getInsightId = () => {
      let arr = location.href.split("/");
      return Number(arr[arr.length - 1]);
    };

    $(function () {
      initComment();
      let currentUserName = `[[${name}]]`

      if (currentUserName === 'Anonymous') {
        $('div[name=comment-input]').css('display', 'none')
      }

    });

    $(document)
        .on("change keyup", "input[name=input-comment-value]", function () {
          let inp = $(this);
          let inputValue = inp.val();
          if (!inputValue) {
            $("button[name=add-comment-btn]").prop("disabled", true);
          } else {
            $("button[name=add-comment-btn]").prop("disabled", false);
          }
        })
        .on("click", "button[name=add-comment-btn]", commentAddEvent);
  </script>
</th:block>
