<div>
  <div class="main_contents_wrap">
    <div class="post-search">

      <div class="util-search" id="postCount">

        <span th:unless="${keyword}==null"><span th:unless="${keyword}==''"><strong th:text="${keyword}">2</strong>로 검색한 결과</span></span>

        총 <strong th:text="${postCount}"></strong>개의 게시물이 있습니다.
      </div>
      <div class="form-search">
        <div class="tbl-search">
          <div class="box-search">
            <input type="text" id="searchinput" th:value="${keyword}" onkeyup="asyncFindBoard()" />
            <input class="disabled" type="button" />
            <input type="submit" />
          </div>
        </div>
      </div>
    </div>

    <div class="scroll-table" id="boardTable">
      <div class="post-th post-row">
        <span>번호</span>
        <span>제목</span>
        <span>작성자</span>
        <span>작성일</span>
        <span>조회수</span>
        <span>첨부파일</span>
        <span>수정/삭제</span>
      </div>

      <!-- 게시글이 0건인 경우 -->
      <div class="post-row" th:if="${posts.getTotalElements() == 0}">
        <span>1</span>
        <a class="post-title"><strong>등록된 게시글이 없습니다.</strong></a>
        <span>관리자</span>
        <span th:text="${#calendars.format(#calendars.createNow, 'yyyy-MM-dd')}"></span>
        <span>0</span>
        <span>
          <i class="fas fa-paperclip file_icon_no"></i>
        </span>
        <span></span>
      </div>

      <div class="post-row" th:each="list : ${posts}">
        <span th:text="${list.id}"></span>
        <a th:href="@{/admin/posts/{id} (id=${list.id})}" onclick="makeBackUrl()" class="post-title">
          <span th:text="${list.title}"></span>
          <span class="new-span"
                th:if="${#dates.year(#dates.createNow())==#temporals.year(list.registeredAt) && #dates.month(#dates.createNow())==#temporals.month(list.registeredAt) &&#dates.day(#dates.createNow())==#temporals.day(list.registeredAt)  }">
          new
      </span>
        </a>
        <span th:text="${list.user.name}"></span>
        <span th:text="${#temporals.format(list.registeredAt, 'yyyy-MM-dd')}"></span>
        <span th:text="${list.viewcnt}"></span>
        <span>
          <i th:if="${list.attaches.size() == 0}" class="fas fa-paperclip file_icon_no"></i>
          <i th:unless="${list.attaches.size() == 0}" class="fas fa-paperclip file_icon_yes"></i>
        </span>
        <span>
          <span class="btn_multi_wrap">
            <button class="btn_udel btn-support" th:onclick="|location.href='@{/admin/posts/{id}/edit (id=${list.id})}'|">수정</button>
            <button class="btn_udel btn-warn delete_btn" th:value="${list.id}" onclick="makeDeleteBtn(this)">삭제</button>
          </span>
        </span>
      </div>
      <div class="post-bottom" sec:authorize="hasAuthority('ADMIN')">
        <button class="btn-input btn-green" onclick="location.href='/admin/posts/new'">새 글쓰기</button>
      </div>

      <!-- 페이지네이션 -->
      <div th:if="${keyword} !=null" class="page-button" th:with="start=${T(Math).floor(posts.number/10)*10 + 1}, last=(${start + 9 < posts.totalPages ? start + 9 : posts.totalPages})">
        <a th:class="${posts.first} ? 'disabled'" th:href="${posts.first} ? '#' : @{/admin/posts/search(keyword=${keyword}, page=1)}" aria-label="First">
          <i class="fas fa-angle-double-left"></i>
        </a>
        <a th:class="${posts.first} ? 'disabled'" th:href="${posts.first} ? '#' : @{/admin/posts/search(keyword=${keyword}, page=${posts.number})}" aria-label="Prev">
          <i class="fas fa-angle-left"></i>
        </a>
        <a th:unless="${page == 0}" class="current-page" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == posts.number + 1} ? 'active': 'not-active' " th:text="${page}"
           th:href="@{/admin/posts/search(keyword=${keyword}, page=${page})}"></a>
        <a th:class="${posts.last} ? 'disabled'" th:href="${posts.last} ? '#' : @{/admin/posts/search(keyword=${keyword}, page=${posts.number + 2})}" aria-label="Next">
          <i class="fas fa-angle-right"></i>
        </a>
        <a th:class="${posts.last} ? 'disabled'" th:href="${posts.last} ? '#' : @{/admin/posts/search(keyword=${keyword}, page=${posts.totalPages})}" aria-label="Last">
          <i class="fas fa-angle-double-right"></i>
        </a>
      </div>

      <div th:if="${keyword} == null" class="page-button" th:with="start=${T(Math).floor(posts.number/10)*10 + 1}, last=(${start + 9 < posts.totalPages ? start + 9 : posts.totalPages})">
        <a th:class="${posts.first} ? 'disabled'" th:href="${posts.first} ? '#' : @{/admin/posts/(page=1)}" aria-label="First">
          <i class="fas fa-angle-double-left"></i>
        </a>
        <a th:class="${posts.first} ? 'disabled'" th:href="${posts.first} ? '#' : @{/admin/posts/(page=${posts.number})}" aria-label="Prev">
          <i class="fas fa-angle-left"></i>
        </a>
        <a th:unless="${page == 0}" class="current-page" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == posts.number + 1} ? 'active': 'not-active' " th:text="${page}"
           th:href="@{/admin/posts/(page=${page})}"></a>
        <a th:class="${posts.last} ? 'disabled'" th:href="${posts.last} ? '#' : @{/admin/posts/(page=${posts.number + 2})}" aria-label="Next">
          <i class="fas fa-angle-right"></i>
        </a>

        <a th:class="${posts.last} ? 'disabled'" th:href="${posts.last} ? '#' : @{/admin/posts/(page=${posts.totalPages})}" aria-label="Last">
          <i class="fas fa-angle-double-right"></i>
        </a>
      </div>
    </div>
  </div>
  <script>

    const asyncFindBoard = () => {
      const keyword = $('#searchinput').val();
      $.ajax({
        url: '/api/admin/posts/search?type=NOTICE&keyword=' + keyword,
        type: 'POST',
        data: keyword
      }).done(function (fragment) {

        $('#boardTable').replaceWith(fragment);
        let closeBtn = document.querySelector(".post-search .box-search input[type=button]")
        closeBtn.classList.remove("disabled");
        if (keyword === "")
          closeBtn.className = "disabled";

        $.ajax({
          url: '/api/admin/posts/search/count?type=NOTICE&keyword=' + keyword,
          type: 'POST',
          data: keyword
        }).done(function (frag) {
          $('#postCount').replaceWith(frag);

        });
      });

    };


    let closeBtn = document.querySelector(".post-search .box-search input[type=button]")
    closeBtn.addEventListener("click", function () {
      let searchInput = document.querySelector("#searchinput")
      searchInput.value = "";
      asyncFindBoard();
    })
    const setCookie = function (name, value, exp) {
      const date = new Date();
      date.setTime(date.getTime() + exp * 24 * 60 * 60 * 1000);
      document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
    };
    const makeBackUrl = () => {
      setCookie("listBtnUrl", location.href, 1)
    }

    function makeDeleteBtn(e) {
      let postId = e.value;
      let overlay = $(".popup_overlay");
      overlay.fadeIn(100);
      overlay.find(".popup_delete_btn").on("click", () => {
        http
            .delete(`/admin/posts/${postId}/delete`, {withCredentials: true})
            .then(() => location.replace("/admin/posts"))
            .catch()
            .finally(() => {
              overlay.fadeOut(100);
              overlay.children().off("click");
            });
      });

    }


  </script>
</div>
