<div id="boardTable">
  <div class="main_contents_wrap">
    <div class="post-search">
      <div class="util-search">총 <strong th:text="${posts.getTotalElements()}"></strong>개의 게시물이 있습니다.</div>
      <div class="form-search">
        <div class="tbl-search">
          <div class="box-search">
            <input type="text" id="searchinput" th:value="${keyword}" onchange="asyncFindBoard()" />
            <input type="submit" />
          </div>
        </div>
      </div>
    </div>

    <div class="scroll-table">
      <div class="post-th post-row">
        <span>번호</span>
        <a href="#">제목</a>
        <span>작성자</span>
        <span>작성일</span>
        <span>조회수</span>
        <span>첨부파일</span>
        <span>수정/삭제</span>
      </div>

      <!-- 게시글이 0건인 경우 -->
      <div class="post-row" th:if="${posts.getTotalElements() == 0}">
        <span>1</span>
        <a class="post-title"><strong>등록된 게시글이 없습니다.</strong></a>
        <span>관리자</span>
        <span th:text="${#calendars.format(#calendars.createNow, 'yyyy-MM-dd')}"></span>
        <span>0</span>
        <span>
          <i class="fas fa-paperclip file_icon_no"></i>
        </span>
        <span></span>
      </div>

      <div class="post-row" th:each="list : ${posts}">
        <span th:text="${list.id}"></span>
        <a th:href="@{/admin/posts/{id} (id=${list.id})}" class="post-title">
          <span th:text="${list.title}"></span>
          <span class="new-span"
                th:if="${#dates.year(#dates.createNow())==#temporals.year(list.registeredAt) && #dates.month(#dates.createNow())==#temporals.month(list.registeredAt) &&#dates.day(#dates.createNow())==#temporals.day(list.registeredAt)  }">
          new
      </span>
        </a>


        <span th:text="${list.user.name}"></span>
        <span th:text="${#temporals.format(list.registeredAt, 'yyyy-MM-dd')}"></span>
        <span th:text="${list.viewcnt}"></span>
        <span>
          <i th:if="${list.attaches.size() == 0}" class="fas fa-paperclip file_icon_no"></i>
          <i th:unless="${list.attaches.size() == 0}" class="fas fa-paperclip file_icon_yes"></i>
        </span>
        <span>
          <span class="btn_multi_wrap">
            <button class="btn_udel btn-support" th:onclick="|location.href='@{/admin/posts/{id}/edit (id=${list.id})}'|">수정</button>
            <button class="btn_udel btn-warn delete-btn" th:value="${list.id}">삭제</button>
            <!--        <button class='btn_udel btn-warn' th:onclick="|location.href='@{/admin/posts/{id}/delete (id=${list.id})}'|">삭제</button>-->
          </span>
        </span>
      </div>
      <div class="post-bottom">
        <button class="btn-input btn-green" onclick="location.href='/admin/posts/new'">새 글쓰기</button>
      </div>

      <!-- 페이지네이션 -->
      <div th:if="${keyword} !=null" class="page-button" th:with="start=${T(Math).floor(posts.number/10)*10 + 1}, last=(${start + 9 < posts.totalPages ? start + 9 : posts.totalPages})">
        <a th:class="${posts.first} ? 'disabled'" th:href="${posts.first} ? '#' : @{/admin/posts/search(keyword=${keyword}, page=1)}" aria-label="First">
          <i class="fas fa-angle-double-left"></i>
        </a>
        <a th:class="${posts.first} ? 'disabled'" th:href="${posts.first} ? '#' : @{/admin/posts/search(keyword=${keyword}, page=${posts.number})}" aria-label="Prev">
          <i class="fas fa-angle-left"></i>
        </a>
        <a th:unless="${page == 0}" class="current-page" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == posts.number + 1} ? 'active': 'not-active' " th:text="${page}"
           th:href="@{/admin/posts/search(keyword=${keyword}, page=${page})}"></a>
        <a th:class="${posts.last} ? 'disabled'" th:href="${posts.last} ? '#' : @{/admin/posts/search(keyword=${keyword}, page=${posts.number + 2})}" aria-label="Next">
          <i class="fas fa-angle-right"></i>
        </a>
        <a th:class="${posts.last} ? 'disabled'" th:href="${posts.last} ? '#' : @{/admin/posts/search(keyword=${keyword}, page=${posts.totalPages})}" aria-label="Last">
          <i class="fas fa-angle-double-right"></i>
        </a>
      </div>

      <div th:if="${keyword} == null" class="page-button" th:with="start=${T(Math).floor(posts.number/10)*10 + 1}, last=(${start + 9 < posts.totalPages ? start + 9 : posts.totalPages})">
        <a th:class="${posts.first} ? 'disabled'" th:href="${posts.first} ? '#' : @{/admin/posts/(page=1)}" aria-label="First">
          <i class="fas fa-angle-double-left"></i>
        </a>
        <a th:class="${posts.first} ? 'disabled'" th:href="${posts.first} ? '#' : @{/admin/posts/(page=${posts.number})}" aria-label="Prev">
          <i class="fas fa-angle-left"></i>
        </a>
        <a th:unless="${page == 0}" class="current-page" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == posts.number + 1} ? 'active': 'not-active' " th:text="${page}"
           th:href="@{/admin/posts/(page=${page})}"></a>
        <a th:class="${posts.last} ? 'disabled'" th:href="${posts.last} ? '#' : @{/admin/posts/(page=${posts.number + 2})}" aria-label="Next">
          <i class="fas fa-angle-right"></i>
        </a>

        <a th:class="${posts.last} ? 'disabled'" th:href="${posts.last} ? '#' : @{/admin/posts/(page=${posts.totalPages})}" aria-label="Last">
          <i class="fas fa-angle-double-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
