<th:block th:include="layout/header" />
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .wrapper {
      width: 1200px;
      height: 500px;
      margin: auto;
    }
  </style>
</head>
<body>
<div class="wrapper">
  <h1>access denied</h1>
  <div style="height: 500px; color: red; line-height: 500px; font-size: 18px;">
    권한인 없으면 접속할 수 없습니다.
  </div>
  <div>
    <button onclick="location.replace('/')">홈화면으로</button>
  </div>
</div>
<div>
  <th:block th:include="layout/footer" />
</div>