<th:block th:include="layout/header" />
<style>
  .header_wrap {
    background-color: rgb(24, 40, 56) !important;
  }

  .content-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
  }
</style>
<div class="flex-wrapper">
  <div class="flex-content">
    <div class="content-wrap">
      <div>
        <h1>페이지를 찾을 수 없습니다.</h1>
      </div>
      <div>
        <button class="btn-primary btn-big" onclick="location.replace('/')">
          메인화면으로
        </button>
        <button class="btn-primary btn-big" onclick="history.back()">
          돌아가기
        </button>
      </div>
    </div>
  </div>
  <th:block th:include="layout/footer" />
</div>
