<th:block th:include="layout/header" />
<style>
  .header_wrap {
    background-color : rgb(24, 40, 56) !important;
  }

  .contents {
    align-items     : center;
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    justify-content : center;
    margin          : auto;
    max-width       : 1200px;
  }
</style>
<div class="flex-wrapper">
  <div class="flex-content">
    <div class="contents">
      <h1>Internal Server Error</h1>
      <div>
        처리 중 문제가 발생하였습니다. 잠시 후 다시 시도해주세요.
      </div>
    </div>
  </div>
  <th:block th:include="layout/footer" />
</div>