<th:block th:include="layout/header" />
<th:block>
  <style>
    .header_wrap {
      background-color : rgb(24, 40, 56) !important;
    }

    .content-wrap {
      align-items     : center;
      display         : flex;
      flex-direction  : column;
      height          : 100%;
      justify-content : center;
      margin          : auto;
      width           : 100%;
    }
  </style>
  <div class="flex-wrapper">
    <div class="flex-content">
      <div class="content-wrap">
        <h1>
          <p>
            포인트 적립 중 에러가 발생하였습니다.
            관리자에게 문의해주세요
          </p>
        </h1>
        <div>
          <button class="btn_udel btn-primary" onclick="location.replace('/')">홈화면으로</button>
        </div>
      </div>
    </div>
    <th:block th:include="layout/footer" />
  </div>
</th:block>