@charset "UTF-8";
/* NHN Web Standardization Team (http://html.nhndesign.com/) HHJ 090226 */
/* COMMON */
.se2_outputarea, .se2_outputarea th, .se2_outputarea td {
  color       : #666666;
  font-family : '돋움', Dotum, '굴림', Gulim, Helvetica, Sans-serif;
  font-size   : 12px;
  line-height : 1.5
  margin      : 0;
  padding     : 0;
}

.se2_outputarea p {
  margin  : 0;
  padding : 0
}

.se2_outputarea a:hover {
  text-decoration : underline
}

.se2_outputarea a:link {
  color : #0000FF
}

.se2_outputarea ul {
  margin  : 0 0 0 40px;
  padding : 0
}

.se2_outputarea ul li {
  list-style-type : disc;
  margin          : 0;
  padding         : 0
}

.se2_outputarea ul ul li {
  list-style-type : circle
}

.se2_outputarea ul ul ul li {
  list-style-type : square
}

.se2_outputarea img, .se2_outputarea fieldset {
  border : 0
}
