/*.login_btn > img {*/
/*    width: 1000px;*/
/*    height: 100px;*/
/*}*/

.kakao_btn,
.naver_btn,
.google_btn {
    height: 50px;
    width: 250px;
    object-fit: cover;
}

.kakao_btn {
    border-radius: 12px;
}
