<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="module/common" />
<th:block th:include="layout/header" />
<head>
  <title>폴인사이트</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <style>
    .login_input {
      width: 70%;
      outline: none;
      border: none;
      border-bottom: 1.5px solid #dde0ea;
      color: #343236;
      padding: 8px 0px;
      height: 43px;
      font-size: 16px;
    }

    .login_btn_wrap > .btn-primary {
      width: 100%;
      font-weight: bold;
      float: left;
    }

    .btn-effect {
      padding: 12px;
      font-size: 18px;
      text-align: center;
      border-radius: 2px;
      cursor: pointer;
      border: 1px solid transparent;
      outline: none;
    }

    .login_content {
      width: 25rem;
      margin: 0 auto;
      text-align: center;
    }

    .modal_content {
      width: 70%;
      background-color: white;
      border-radius: 2px;
      overflow: hidden;
      margin: 0 auto;
    }

    .modal_wrap {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .input_div {
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;
    }

    .input_div > label > p {
      font-size: 16px;
      text-align: left;
      color: #a5dff9;
    }

    .invalid {
      color: #FF0000;
      font-weight: bolder;
    }

    .valid {
      color: #00CC00;
      font-weight: bolder;
    }


  </style>
</head>
<body>
<div class="modal_wrap">
  <div class="modal_content">
    <fieldset>
      <legend>회원 가입</legend>
      <div class="login_content">
        <form action="/signup" id="signupfrm" method="post">
          <div class="input_div" style="text-align: center">
            <label for="email">
              <p><i class="far fa-envelope"></i>&nbsp;이메일</p>
            </label>
            <input class="login_input" id="email" name="email" placeholder="이메일" required style="display: inline-block;" type="text" />
            <span style="margin: 2px; text-align: center; font-weight: bolder;">@</span>
            <select class="login_input" name="domain" id="email_domain" style="text-align: center; text-align-last: center; display: inline-block;" required>
              <optgroup label="도메인">
                <option value="null" selected>-- 선택 --</option>
                <option value="naver.com">naver.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="kakao.com">kakao.com</option>
              </optgroup>
            </select>
            <br />
            <span id="emailmsg"></span>
          </div>
          <div class="input_div">
            <label for="password">
              <p><i class="fas fa-lock"></i>&nbsp;패스워드</p>
            </label>
            <input class="pwinput login_input" id="password" name="password" placeholder="패스워드" required type="password" />
            <p>영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자</p>
          </div>
          <div class="input_div">
            <label for="pwconfirm">
              <p><i class="fas fa-lock"></i>&nbsp;패스워드 확인</p>
            </label>
            <input class="pwinput login_input" id="pwconfirm" placeholder="패스워드 확인" required type="password" />
            <br />
            <span class="err_msg" id="pwmsg"></span>
          </div>
          <div class="input_div">
            <label for="inputname">
              <p><i class="fas fa-user"></i>&nbsp;이름</p>
            </label>
            <input class="login_input" id="inputname" name="name" placeholder="이름" required type="text" />
          </div>
          <div class="input_div">
            <label for="phone"><p><i class="fas fa-phone"></i>&nbsp;휴대전화</p></label>
            <input class="login_input" id="phone" name="phone" placeholder="휴대전화" required type="tel">
            <button id="phone_chk">인증</button>
            <br />
            <span>'-' 없이 입력해주세요.</span>
          </div>
          <div class="input_div">
            <label for="phone_rec_user"><p><i class="fas fa-phone"></i>&nbsp;추천인 휴대전화</p></label>
            <input class="login_input" id="phone_rec_user" name="recommend" placeholder="추천인 휴대전화" type="tel">
            <button id="phone_rec_user_chk">확인</button>
            <br />
            <span>'-' 없이 입력해주세요.</span>
          </div>
          <div class="hidden">
            <input type="text" value="일반">
          </div>
          <div class="login_btn_wrap">

            <button class="btn-primary btn-effect" onclick="window.history.back()"><p>돌아가기<i class="fas fa-arrow-left"></i></p></button>
          </div>

          <div>
            <div>
              <p style="text-align: center">
                <span style="font-size: 1.7rem; font-weight: bolder">폴인사이트의 패널이 된다면?</span><br />
                폴인사이트에서 진행하는 각종 조사에 참여하실 수 있습니다.<br />
                참여한 조사에 따라 포인트를 현금으로 지급받으실 수 있습니다.<br />
                폴's 인사이트 게시판을 통해 조사 주요 결과를 확인하실 수 있습니다.<br />
                <span style="font-weight: bolder">패널로 가입하시겠습니까?</span>
                <br />
                <br />
              </p>
            </div>
            <div style="text-align: center">
              <div style="margin: auto; width: 30%; justify-content: center; display: inline-block ">
                <input name="ispanel" type="radio" value="true">가입하고 혜택받기<br>
              </div>
              <div style="margin: auto; width: 30%; justify-content: center; display: inline-block ">
                <input name="ispanel" type="radio" value="false">일반 회원으로 계속<br>
              </div>
            </div>
            <div class="login_btn_wrap">
              <button class="btn-primary btn-effect" id="frmsubmit">회원 가입<i class="fas fa-sign-in-alt"></i></button>
            </div>
          </div>
        </form>
      </div>
    </fieldset>
  </div>
</div>

<script>
  const editHyphen = e => {
    const phone = $("#phone")
    const phoneValue = phone.val()
    let ret = "";
    if (phoneValue.match(/([0-9]{3})-([0-9]{4})-([0-9]{4})/)) {
      ret = phoneValue.replace(/([0-9]{3})-([0-9]{4})-([0-9]{4})/, "$1$2$3")
    } else {
      phoneValue.substring(0, 11)
      ret = phoneValue.replace(/(^02.{0}|^01.{1}|[0-9]{3})([0-9]+)([0-9]{4})/, "$1-$2-$3")
    }
    phone.val(ret)
    return ret;
  }

  /*
  * 길이 10~16
  * 영문 대, 소문자, 특수문자
  * */
  const passwordValueChecker = pwd => {
    return pwd.match(/[a-zA-Z0-9~!@#$%^&*()_+-|<>?:;`,{}\]\[/\'\"\\\']{10,16}/) !== null;
  }

  // 비밀번호 확인 검증
  const passwordChecker = (e) => {
    if (e.type !== "change") {
      // scape input check
      let keycode = e.keyCode
      if (keycode === 32 || keycode === 9) {
        e.preventDefault()
        e.returnValue = false;
        alert("공백은 입력할 수 없습니다.")
        return;
      } else if (keycode === 20) {
        // NOTE : capslock이 켜져있습니다 띄우기
      }
    }

    const keycode = e.keyCode
    const originKeyValue = e.originalEvent.key;
    /* 숫자, 소문자, 대문자, 특수문자 */
    if ((48 <= keycode && keycode <= 47) || (65 <= keycode && keycode <= 90) || (96 <= keycode && keycode <= 105) || originKeyValue.match(/[{}\[\]\/?.,;:|)*~`!^\-_+<>@#$%&\\=(\'\"]/gi) !==
        null) {


      const passwordValue = $("#password").val();
      const confirmValue = $("#pwconfirm").val();
      const msg = $("#pwmsg")

      if (passwordValue !== "" && confirmValue !== "") {
        if (passwordValue === confirmValue) {
          if (passwordValueChecker(passwordValue)) {
            msg.text("사용 가능한 패스워드 입니다.").removeClass("invalid").addClass("valid")
            return
          }
        }
        msg.text("올바른 패스워드를 입력해주세요.").removeClass("valid").addClass("invalid")
      }
    }
  }

  // 필수 입력값 검사
  const checkNotNull = () => {
    let result = true
    const form = $("form")
    form.find('input').each(function (item) {
      let input = $(this)
      let label = input.prev()
      let inputValue = input.val()
      if ($(this).prop('required') && (inputValue == null || inputValue === "" || inputValue === undefined || inputValue === "undefined")) {
        input.focus()    // 입력이 안된 사항으로 포커싱
        input.val('') // 값 초기화
        alert(label.text().trim() + " 항목은 필수 입력 사항입니다.")
        result = false
        return false;   // $.each를 break
      }
    })

    const domainValue = $('select[name=domain] option:selected').val()
    if (domainValue === "null") {
      $('select[name=domain]').focus()
      alert('이메일 주소는 필수 입력 사항입니다.')
      result = false;
    }

    return result;
  }


  const debounceCallEmailCheck = _.debounce((email, callback) => {
    axios.get("http://localhost:8080/user/" + email)
        .then(res => callback(res.status))
        .catch(err => {
          console.log("error", err)
        })
  }, 200)

  const emailChecker = (e) => {
    const regex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
    const emailValue = $("input[name=email]").val();
    const emailDomain = $("#email_domain").val();
    const email = emailValue + '@' + emailDomain;
    const msg = $("#emailmsg")

    if (email === "") {
      msg.text("").removeClass("valid").addClass("invalid")
    } else {
      if (email.match(regex) != null) {
        debounceCallEmailCheck(email, function (status) {
              if (status === 204) {
                msg.text("사용 가능한 이메일입니다.").removeClass("invalid").addClass("valid")
              } else {
                msg.text("이미 존재하는 이메일입니다. 다른 이메일을 입력해주세요").removeClass("valid").addClass("invalid")
              }
            }
        )
      } else {
        msg.text("올바른 이메일을 입력해주세요").removeClass("valid").addClass("invalid")
      }

    }
  }

  $(function () {
    $(document).on('focus', '.login_input', function () {
      $(this).css('border-bottom', '1.5px solid #4C99CF');
    });

    $(document).on('blur', '.login_input', function () {
      $(this).css('border-bottom', '1.5px solid #dde0ea');
    });

    $(".pwinput").on("keypress", passwordChecker).on("paste", e => {
      e.preventDefault()
      alert("붙여넣기는 사용하실 수 없습니다.")
    });
    // .on('click', e => {
    //   /*입력폼 클릭시 입력값 삭제*/
    //   $('#' + e.target.id).val('')
    // })

    $("#email").on("change keyup paste", emailChecker);
    $("select[name=domain]").on('change', () => {
      if ($('input[name=email]').val().length > 0) {
        emailChecker()
      }
    });

    // 유저 전화번호
    $("#phone").on("blur focus", editHyphen).on('keypress', (e) => {
      let keycode = e.keyCode
      if (!(48 <= keycode && keycode <= 57)) {
        e.preventDefault();
        e.returnValue = false;
        alert('숫자만 입력 가능합니다.')
      }
    });

    // 추천인 전화번호
    $("#phone_rec_user").on("blur focus", editHyphen).on('keypress', (e) => {
      let keycode = e.keyCode
      if (!(48 <= keycode && keycode <= 57)) {
        e.preventDefault();
        e.returnValue = false;
        alert('숫자만 입력 가능합니다.')
      }
    });

    $("#frmsubmit").on('click', (e) => {
      e.preventDefault()
      e.stopPropagation()
      // 필수 값이 모두 채워져 있는지 확인 --> 작동 안함
      if (checkNotNull()) {
        $("#signupfrm").submit()
      }
    })
  })

</script>
</body>
</html>