<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="module/common"/>
<th:block th:include="layout/header"/>

<head>
    <style type="text/css">
        .carasel_wrap {
            width: 100%;
            height: 80vh;
        }

        .bg_image {
            width: 100%;
            height: 80vh;
        }
    </style>
    <th:block th:include="module/alerts :: alert_css"/>
</head>
<body>
<div class="carasel_wrap">
    <img src="/img/banner/banner01.jpg" class="bg_image"/>
</div>
<div style="height: 2000px;"></div>
</body>
</html>