<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Index Page</h1>
<th:block th:if="${session.user} == null">
    <a role="button" href="/loginpage">로그인</a>
    <a role="button" href="/qsignup">회원가입</a>
</th:block>
<th:block th:unless="${session.user} == null">
    <a th:text="${session.user}?${session.user.name}:'guest'" role="button" href="/mypage"></a>
    <a href="/dologout">logout</a>
</th:block>

<div>

</div>
</body>
</html>