<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/login_btn.css">
</head>
<body>
<div>
    <fieldset style="width: 30%;">
        <legend>로그인 하기</legend>
        <form action="/dologin" method="post">
            <div>
                <label>
                    ID:
                    <input name="email" type="text"/>
                </label>
            </div>
            <div>
                <label>
                    PW:
                    <input name="password" type="password"/>
                </label>
            </div>
            <div>
                <button onclick="location.href='/signup'">
                    회원 가입
                </button>
                <input type="submit" value="로그인"/>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </div>
        </form>

        <br/>
        <a href="/oauth2/authorization/kakao"  role="button">
            <img class="kakao_btn"  alt="login button" src="/static/assets/kakao_login/ko/kakao_login_medium_narrow.png"/>
        </a>
        <a href="/oauth2/authorization/naver"  role="button">
            <img class="naver_btn" alt="login button" src="/static/assets/naver_kr/btnG_완성형.png"/>
        </a>
        <a  href="/oauth2/authorization/google" role="button">
            <img class="google_btn" alt="login button" src="/static/assets/google/1x/btn_google_signin_light_normal_web.png"/>
        </a>
    </fieldset>
</div>
</body>
</html>