<!DOCTYPE html>
<th:block th:include="module/common" />
<th:block th:include="layout/header" />
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <style>
    .mypage_modal_wrap {
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mypage_modal_content {
      position: relative;

    }
  </style>
</head>
<body>
<div class="mypage_modal_wrap">
  <div class="mypage_modal_content">
    <div>
      <label>
        이름
        <input th:value="${session.user.name}" type="text">
      </label>
    </div>
    <div>
      <label>
        아이디
        <input id="email" th:value="${session.user.email}" type="email">
      </label>
    </div>
    <div>
      <label>
        비밀번호
        <input id="pwd" type="password">
      </label>
      <span>비밀번호를 변경하고 싶으시면 작성 후 확인버튼을 눌러주세요</span>
    </div>
    <div>
      <label>
        비밀번호 확인
        <input id="pwdcfm" type="password">
      </label>
    </div>
    <div>
      <label>
        관심사
        <input name="point" readonly th:value="${session.user.additional.favorite}" type="number">
      </label>
    </div>
    <div>
      <label>
        회원 타입
        <input readonly th:value="${session.user.role}" type="text">
      </label>
    </div>
    <div>
      <label>
        포인트
        <input name="point" readonly th:value="${session.user.point} == null ? 0 : ${session.user.point}" type="number">
      </label>
    </div>
    <th:block th:if="${session.user.point} >= 10000">
      <div>
        <form action="">
          <div style="display: inline-block">
            <label>
              포인트 지급 요청
              <input type="text" readonly th:value="${session.user.point}">
            </label>
          </div>
          <div style="display: inline-block">
            <input type="submit" value="지급 요청">
          </div>
        </form>
      </div>
    </th:block>
    <div>
      <button th:onclick="chkInput()">변경하기</button>
      <!--      <button th:onclick="window.history.back()">돌아가기</button>-->
    </div>
  </div>
  <div>
    <label for="deluser">
      <input id="deluser" value="회원 탈퇴" type="button" th:onclick="alert('준비 중 입니다.')">
    </label>
  </div>
</div>
<script>
  const userInfoUpdate = (password) => {
    const userInfo = {}
    userInfo['email'] = $("#email").val()
    userInfo['password'] = password;

    axios.post("/", userInfo)
        .then(res => {
          console.log(res)
          alert("회원 정보가 업데이트 되었습니다.")
          // 어디로 이동하게 할까??
          location.replace("/")
        })
        .catch(err => {
          console.log(err)
          alert("업데이트 중 에러가 발생하였습니다.\n관리자에게 문의하세요")
        })
  }


  const chkInput = () => {
    const pwd = $("#pwd")
    const pwdcfm = $("#pwdcfm")

    if (pwdcfm === "" || pwdcfm === undefined || pwdcfm === null || pwdcfm === "undefined") {
      return
    }

    if (pwd === "" || pwd === undefined || pwd === null || pwd === "undefined") {
      return
    }

    if (pwd === pwdcfm) {
      // throttle userInfoUpdate
      _.throttle(userInfoUpdate(pwd), 200)
    }
  }


</script>
</body>
</html>