<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="module/common" />
<th:block th:include="layout/header" />
<head>
  <meta charset="UTF-8">
  <style>
    .row {
      font-weight: normal;
    }

    .web {
      margin: auto;
      width: 1200px;
    }

    .col {
      display: inline-block;
      border: solid black 0.5px;
    }

    .col > option {
      display: inline;
      float: left;
    }

    form > div {
      border: solid black 0.5px;
    }

    .date {
      display: inline-block;
    }

    .center {
      margin: auto;
      width: 150px;
    }
  </style>
  <title>POLINSIGHT</title>
</head>
<body class="web" style="position: absolute; left: 10px; top: 100px; float: left;">
<!--<th:block th:include="layout/header" />-->
<h1>추가 정보 입력</h1>
<p class="center" style="text-align: center">패널 가입을 위한 추가정보를 입력해주세요.</p>
<div class="more">
  <form id="addfrm">
    <div>
      <span>성별</span>
      <label>
        <input name="gender" type="radio" value="남성">
        남성
      </label>
      <label>
        <input name="gender" type="radio" value="여성">
        여성
      </label>
    </div>
    <div class="date">
      <span class="col">생년월일</span>
      <div class="col">
        <select id="year" name="year">
          <option>--선택--</option>
        </select><label for="year"> 년</label>
      </div>
      <div class="col">
        <select id="month" name="month">
          <option>--선택--</option>
        </select><label for="month"> 월</label>
      </div>
      <div class="col">
        <select id="day" name="day">
          <option>--선택--</option>
        </select><label for="day"> 일</label>
      </div>
      <label>
        <input checked name="birth" type="radio" value="양력">
        양력
      </label>
      <label>
        <input name="birth" type="radio" value="음력">
        음력
      </label>
    </div>
    <div>
      <span>최종 학력</span>
      <select id="edu" name="edu">
        <option>--선택--</option>
        <option value="high">고졸 이하(재학 포함)</option>
        <option value="inuniversity">대학 재학</option>
        <option value="university">대학교 졸업(수료 포함)</option>
        <option value="graduate">대학원 이상</option>
      </select>
    </div>
    <div>
      <span>결혼 여부</span>
      <label>
        <input checked name="marry" type="radio" value="미혼">
        미혼
      </label>
      <label>
        <input name="marry" type="radio" value="기혼">
        기혼
      </label>
    </div>
    <div>
      <span>직업</span>
      <select id="jobs" name="jobs">
        <option>--선택--</option>
        <option value="">학생</option>
        <option value="">경영직</option>
        <option value="">공무</option>
        <option value="">회사원</option>
        <option value="">자영업</option>
        <option value="">생산기술직</option>
        <option value="">예술인</option>
        <option value="">프리랜서</option>
        <option value="">무직</option>
        <option value="">기타</option>
      </select>
    </div>
    <div>
      <span>직종</span>
      <select id="industry" name="industry">
        <option>--선택--</option>
        <option value="">제조업</option>
        <option value="">건설업(인테리어 포함)</option>
        <option value="">부동산업</option>
        <option value="">임대•대여업</option>
        <option value="">도매 및 소매업(유통업)</option>
        <option value="">음식업•외식업</option>
        <option value="">운수•여객•숙박업</option>
        <option value="">여가 관련 서비스업</option>
        <option value="">방송•언론•출판</option>
        <option value="">정보통신업</option>
        <option value="">금융업</option>
        <option value="">교육 서비스업</option>
        <option value="">의료•보건•사회복지</option>
        <option value="">시장조사•컨설팅•광고대행업</option>
        <option value="">기타</option>
      </select>
    </div>
    <!--관심 분야-->
    <div class="row">
      <div class="col">관심 분야</div>
      <div class="col">
        <div class="row">
          <div class="col">건강•헬스케어</div>
          <div class="col">
            <label>
              <input type="checkbox" value="">
              건강일반
            </label>건강일반<br>
            <label>
              <input type="checkbox" value="">
              건강식품
            </label>건강식품<br>
            <label>
              <input type="checkbox" value="">
              다이어트
            </label>다이어트<br>
            <label>
              <input type="checkbox" value="">
              심리건강
            </label>심리건강<br>
          </div>
        </div>
        <div class="row">
          <div class="col">문화예술•여가•스포츠</div>
          <div class="col">
            <label>
              <input type="checkbox">
              대중문화
            </label>대중문화<br>
            <label>
              <input type="checkbox">
              음악
            </label>음악<br>
            <label>
              <input type="checkbox">
              미술
            </label>미술<br>
            <label>
              <input type="checkbox">
              공연•축제
            </label>공연•축제<br>
            <label>
              <input type="checkbox">
              여행
            </label>여행<br>
            <label>
              <input type="checkbox">
              생활문화
            </label>생활문화<br>
            <label>
              <input type="checkbox">
              장르예술
            </label>장르예술<br>
            <label>
              <input type="checkbox">
              레저활동
            </label>레저활동<br>
            <label>
              <input type="checkbox">
              생활체육
            </label>생활체육<br>
          </div>
        </div>
        <div class="row">
          <div class="col">경제•경영</div>
          <div class="col">
            <label>
              <input type="checkbox" value="">
              제테크
            </label>제테크<br>
            <label>
              <input type="checkbox" value="">
              창업
            </label>창업<br>
            <label>
              <input type="checkbox" value="">
              사회적 경제
            </label>사회적 경제<br>
          </div>
        </div>
        <div class="row">
          <div class="col">사회•복지</div>
          <div class="col">
            <label>
              <input type="checkbox" value="">
              사회•복지일반
            </label>사회•복지일반 <br>
            <label>
              <input type="checkbox" value="">
              아동•청소년
            </label>아동•청소년 <br>
            <label>
              <input type="checkbox" value="">
            </label>여성 <br>
            <label>
              <input type="checkbox" value="">
              청년
            </label>청년<br>
            <label>
              <input type="checkbox" value="">
              노인
            </label>노인 <br>
            <label>
              <input type="checkbox" value="">
              장애인
            </label>장애인 <br>
            <label>
              <input type="checkbox" value="">
              다문화
            </label>다문화 <br>
            <label>
              <input type="checkbox" value="">
              민주인권
            </label>민주인권 <br>
            <label>
              <input type="checkbox" value="">
              노동인권
            </label>노동인권<br>
            <label>
              <input type="checkbox" value="">
              자원봉사
            </label>자원봉사<br>
          </div>
        </div>
        <div class="row">
          <div class="col">교육</div>
          <div class="col">
            <label>
              <input type="checkbox" value="lifetime">
              평생교육
            </label>평생교육<br>
            <label>
              <input type="checkbox" value="high">
              초·중·고등교육
            </label>초·중·고등교육<br>
            <label>
              <input type="checkbox" value="univ">
              대학교육
            </label>대학교육<br>
          </div>
        </div>
      </div>
    </div>
    <div class="center">
      <input th:onclick="window.location.back()" type="button" value="돌아 가기">
      <input name="panel_signup" type="submit" value="가입 하기">
    </div>
  </form>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
  const onSubmit = () => {
    let data = new FormData()
    axios.post('', data)
        .then(res => {
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
  }

  const setDateValue = () => {
    let today = new Date();
    $(".date").find('select').each((idx, obj) => {

      switch (obj.name) {
        case "year":
          for (let i = 1930; i < today.getFullYear(); i++) {
            $(obj).append($("<option></option>").attr("value", i).text(i))
          }
          break;
        case "month":
          for (let i = 1; i < 13; i++) {
            $(obj).append($("<option></option>").attr("value", i).text(i))
          }
          break;
      }
    })
  }

  const setDay = () => {
    const day = $("#day")
    day.find("option").empty();    // 초기화
    let month = $("#month option:selected").text()   // 월에 선택된 옵션 값 가져오기
    day.append($("<option selected></option>").text("--선택--"))
    if (month === 2) {
      for (let i = 1; i <= 28; i++) {
        day.append($("<option></option>").attr("value", i).text(i))
      }
    } else if (month === 1 || month === 3 || month === 5 || month === 7 || month === 8 || month === 10 || month === 12) { // 1, 3, 5, 7, 8, 10,12
      for (let i = 1; i <= 31; i++) {
        day.append($("<option></option>").attr("value", i).text(i))
      }
    } else {
      for (let i = 1; i <= 30; i++) {
        day.append($("<option></option>").attr("value", i).text(i))
      }
    }
  }

  $(function () {
    setDateValue()
    $("#month").on('change', setDay)

    $("input[name=panel_signup]").on('click', (e) => {

    })
  })
</script>
</html>