<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <div>
    <textarea cols="30" readonly rows="10"></textarea>
    <input class="agree" type="checkbox">

    <br />

    <textarea cols="30" readonly rows="10"></textarea>
    <input class="agree" type="checkbox">
  </div>
  <div>
    <input id="allchk" onclick="agreeAll" type="checkbox" value="모두 동의">
  </div>
  <div>
    <button>취소</button>
    <button onclick="chkAgreeBox">다음</button>
  </div>
</div>
<script>
  const agreeAll = e => {
    const agreeAllBox = document.getElementById("allchk")
    const agreeChkbox = document.getElementsByClassName("agree")
    if (agreeAllBox.checked === true) {
      agreeChkbox.map(elem => elem.checked = true)
    } else {
      agreeChkbox.map(elem => elem.checked = false)
    }
  }

  const chkAgreeBox = e => {
    let agreeCnt = 0;
    const agreeChkbox = document.getElementsByClassName("agree")
    for (const aa in agreeChkbox) {
      if (aa.checked === true) agreeCnt++;
    }
    if (agreeChkbox.length === agreeCnt)
      window.location.href("")
    alert("필수 동의 항목을 모두 체크해주세요")
  }
</script>
</body>
</html>