<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<fieldset>
    <legend>회원 가입</legend>
    <form action="/signup" id="signupfrm" method="post">
        <div>
            <label>
                이메일
                <input id="email" name="email" type="text"/>
                <span>*</span>
                <div id="emailmsg" class="err_color" style="display:none;">Email을 정확히 입력해주세요.</div>
            </label>
        </div>
        <div>
            <label>
                비밀번호
                <input class="pwinput" id="password" name="password" type="password"/>
                <span>*</span>
            </label>
        </div>
        <div>
            <label>
                비밀번호 확인
                <input class="pwinput" id="pwconfirm" type="password"/>
                <span>*</span>
            </label>
            <div class="err_color" id="pwmsg" style="display:none;">패스워드가 다릅니다. 다시 한번 확인해주세요.</div>
        </div>
        <div>
            <label>
                이름
                <input name="name" type="text"/>
                <span>*</span>
            </label>
        </div>
        <div>
            <label>
                회원 타입
                <select>
                    <option>일반</option>
                    <option>패널</option>
                </select>
            </label>
        </div>
        <div>
            <input onclick="window.history.back()" type="button" value="돌아가기">
            <input id="frmsubmit" type="submit" value="회원가입">
        </div>
    </form>
</fieldset>
<!--Validation Library-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

  const passwordChecker = () => {

    const passwordValue = $("#password").val();
    const confirmValue = $("#pwconfirm").val();
    const msg = $("#pwmsg")


    if (passwordValue !== confirmValue) {
      if (confirmValue.replace(/\s/g, "").length !== 0 && passwordValue.replace(/\s/g, "").length !== 0) {
        msg.css("display", "block");
      }
    } else {
      msg.css("display", "none");
    }
  }

  const emailChecker = () => {
    const regex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
    const emailValue = $("#email").val();
    const msg = $("#emailmsg")

    if (emailValue.match(regex) != null) {
      msg.css("display", "none");
      debounceCallEmailCheck(emailValue);   // NOTE : 여기에서는 작동이 안됨
    } else {
      msg.css("display", "block");
    }


  }

  const checkNotNull = () => {
// NOTE: 필수 입력값 검사
    $("#signupfrm").find().each()

  }

  const enterSubmit = key => {

    if (checkNotNull()) {
      if (key.keyCode === 13) {
        $("#signupfrm").submit()
      }
    }
  }

  const debounceCallEmailCheck = _.debounce(email => {
    axios.get("http://localhost:8080/user/" + email)
        .then(res => {
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
  }, 200)

  $(document).ready(() => {
    $(".pwinput").on("change keydown keyup paste", passwordChecker);

    $("#email").on("change keydown paste", emailChecker);

    $("input").keydown(enterSubmit)
  })

</script>
</body>
</html>