<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</body>
<fieldset>
    <legend>회원 가입</legend>
    <form action="/signup" method="post">
        <div>
            <label>
                이메일
                <input type="text" name="email"/>
            </label>
        </div>
        <div>
            <label>
                비밀번호
                <input type="password" name="password"/>
            </label>
        </div>
        <div>
            <label>
                확인
                <input type="password" name="pwconfirm"/>
            </label>
        </div>
        <div>
            <label>
                이름
                <input type="text" name="name"/>
            </label>
        </div>
        <div>
            <input onclick="history.go(-1)" type="button" value="돌아가기">
            <input type="submit" value="회원가입">
        </div>
    </form>
</fieldset>
</html>