<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        .alert {
            z-index: 999;
            /*float: right;*/
            width: 100px;
            right: 30px;
            top: 30px;
            height: 30px;
            position: absolute;
            border: solid black 0.3px;
        }

    </style>
</head>
<body>
<div class="alert" th:fragment="frag_alert(msg)">
    <p th:text="${msg}"></p>
</div>
</body>
</html>